In [2]:
import pandas as pd
import numpy as np


# scalers
from sklearn.preprocessing import StandardScaler


# cluster
from sklearn.cluster import DBSCAN, MeanShift, KMeans, AgglomerativeClustering, estimate_bandwidth

from sklearn.metrics import confusion_matrix

# UMAP
#!pip install umap-learn
import umap


import matplotlib.pyplot as plt

import functions

pd.set_option('display.max_columns', None)

In [3]:
path = '/Users/antoniooliveira/Downloads/NTT project/Clustering'
#path = "C:/Users/aprataso/Downloads/final_data/Clustering"

customer_info = pd.read_csv(f'{path}/customer_info_treated.csv')
customer_info.set_index('household_key')
customer_info.head(2)

,household_key,retail_disc,coupon_disc,coupon_match_disc,first_transaction_date,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,Groceries_spend,Delicacies_spend,Meat_spend,Bakery_spend,DRUG GM_spend,SALAD BAR_spend,MISC SALES TRAN_spend,RESTAURANT_spend,FLORAL_spend,Seafood_spend,COSMETICS_spend,KIOSK-GAS_spend,CHEF SHOPPE_spend,GARDEN CENTER_spend,MISC. TRANS._spend,SPIRITS_spend,AUTOMOTIVE_spend,TRAVEL & LEISUR_spend,CNTRL/STORE SUP_spend,COUP/STR & MFG_spend,GM MERCH EXP_spend,POSTAL CENTER_spend,DELI/SNACK BAR_spend,Photo/Video_spend,CHARITABLE CONT_spend,RX_spend,VIDEO RENTAL_spend,PROD-WHS SALES_spend,PHARMACY SUPPLY_spend,TOYS_spend,HBC_spend,ELECT &PLUMBING_spend,HOUSEWARES_spend,gender,homeowner_code,total_quantity,total_sales_value,unique_dep_count
0,1,-0.403613,-0.046647,-0.015142,2021-02-20,0,Homeowner,married,senior,2.0,0.0,65.0,42000.0,0.0,2.0,3285.02,226.99,373.56,102.01,568.23,44.09,21.40,4.47,8.55,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0,1997,4634.32,10
1,2,-0.469174,-0.012605,0.000000,2021-04-13,1,Probable Owner,single,young adult,1.0,0.0,21.5,25000.0,0.0,1.0,1361.50,50.01,238.86,26.55,353.11,0.00,4.56,0.00,23.53,9.62,23.62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,834,2091.36,9

In [4]:
pd.set_option('display.float_format', '{:.3f}'.format)
customer_info.describe().T

,count,mean,std,min,25%,50%,75%,max
household_key,2500.000,1250.500,721.832,1.000,625.750,1250.500,1875.250,2500.000
retail_disc,2500.000,-0.560,0.278,-4.752,-0.637,-0.504,-0.413,-0.036
coupon_disc,2500.000,-0.014,0.027,-0.421,-0.015,-0.005,0.000,0.000
coupon_match_disc,2500.000,-0.002,0.006,-0.101,-0.002,-0.000,0.000,0.000
marital_status_code,2500.000,0.989,0.852,0.000,0.000,1.000,2.000,2.000
adult_category_size,2500.000,1.447,0.497,1.000,1.000,1.000,2.000,2.000
has_kids,2500.000,0.338,0.473,0.000,0.000,0.000,1.000,1.000
avg_age,2500.000,39.913,14.452,21.500,29.500,39.500,49.500,65.000
avg_income,2500.000,78072.000,66852.827,15000.000,29500.000,62000.000,112000.000,250000.000
n_kids,2500.000,0.443,0.706,0.000,0.000,0.000,1.000,3.000
n_household,2500.000,1.954,1.048,1.000,1.000,2.000,3.000,5.000
Groceries_spend,2500.000,2033.183,2063.025,1.860,616.980,1377.490,2816.665,16223.980
Delicacies_spend,2500.000,111.688,172.715,0.000,13.088,49.230,133.697,1935.010
Meat_spend,2500.000,411.464,456.970,0.000,92.433,261.750,547.687,3736.710
Bakery_spend,2500.000,52.115,71.598,0.000,8.852,27.795,69.075,916.070
DRUG GM_spend,2500.000,451.721,600.312,0.000,96.268,240.665,570.535,5934.370
SALAD BAR_spend,2500.000,13.248,38.201,0.000,0.000,0.000,10.325,675.230
MISC SALES TRAN_spend,2500.000,51.343,332.715,0.000,0.000,2.130,16.340,11942.400
RESTAURANT_spend,2500.000,0.851,6.845,0.000,0.000,0.000,0.000,178.190
FLORAL_spend,2500.000,16.973,41.783,0.000,0.000,0.000,18.260,938.560
Seafood_spend,2500.000,39.632,83.126,0.000,0.000,12.820,41.940,1821.180
COSMETICS_spend,2500.000,13.850,33.447,0.000,0.000,1.060,12.197,566.110
KIOSK-GAS_spend,2500.000,232.928,532.531,0.000,0.000,21.400,192.893,8184.660
CHEF SHOPPE_spend,2500.000,0.981,3.752,0.000,0.000,0.000,0.000,80.000
GARDEN CENTER_spend,2500.000,3.282,23.500,0.000,0.000,0.000,0.000,1002.260
MISC. TRANS._spend,2500.000,4.571,35.974,0.000,0.000,0.000,2.450,1067.880
SPIRITS_spend,2500.000,9.275,68.039,0.000,0.000,0.000,0.000,2827.090
AUTOMOTIVE_spend,2500.000,0.194,1.665,0.000,0.000,0.000,0.000,36.020
TRAVEL & LEISUR_spend,2500.000,1.092,3.618,0.000,0.000,0.000,0.000,68.770
CNTRL/STORE SUP_spend,2500.000,0.021,0.495,0.000,0.000,0.000,0.000,21.400
COUP/STR & MFG_spend,2500.000,0.440,2.425,0.000,0.000,0.000,0.000,50.450
GM MERCH EXP_spend,2500.000,0.043,0.514,0.000,0.000,0.000,0.000,12.890
POSTAL CENTER_spend,2500.000,0.010,0.222,0.000,0.000,0.000,0.000,9.580
DELI/SNACK BAR_spend,2500.000,0.015,0.328,0.000,0.000,0.000,0.000,13.580
Photo/Video_spend,2500.000,0.033,0.494,0.000,0.000,0.000,0.000,14.970
CHARITABLE CONT_spend,2500.000,0.003,0.146,0.000,0.000,0.000,0.000,7.210
RX_spend,2500.000,0.068,1.050,0.000,0.000,0.000,0.000,22.350
VIDEO RENTAL_spend,2500.000,0.009,0.280,0.000,0.000,0.000,0.000,11.220
PROD-WHS SALES_spend,2500.000,0.003,0.120,0.000,0.000,0.000,0.000,5.350
PHARMACY SUPPLY_spend,2500.000,0.007,0.192,0.000,0.000,0.000,0.000,6.390
TOYS_spend,2500.000,0.004,0.143,0.000,0.000,0.000,0.000,6.810
HBC_spend,2500.000,0.004,0.102,0.000,0.000,0.000,0.000,2.880
ELECT &PLUMBING_spend,2500.000,0.000,0.021,0.000,0.000,0.000,0.000,1.070
HOUSEWARES_spend,2500.000,0.001,0.064,0.000,0.000,0.000,0.000,3.200
gender,2500.000,1.135,0.804,0.000,0.000,1.000,2.000,2.000
homeowner_code,2500.000,1.445,1.502,0.000,0.000,1.000,2.000,4.000
total_quantity,2500.000,104274.249,244456.076,5.000,770.000,11084.500,87640.000,4479917.000
total_sales_value,2500.000,3449.055,3583.873,8.740,1038.827,2309.105,4722.680,41004.030
unique_dep_count,2500.000,10.005,3.224,1.000,8.000,10.000,12.000,19.000

In [6]:
no_quantity = customer_info.loc[:, ~customer_info.columns.str.contains('_spend')]
no_quantity

,household_key,retail_disc,coupon_disc,coupon_match_disc,first_transaction_date,marital_status_code,homeowner_desc,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender,homeowner_code,total_quantity,total_sales_value,unique_dep_count
0,1,-0.404,-0.047,-0.015,2021-02-20,0,Homeowner,married,senior,2.000,0.000,65.000,42000.000,0.000,2.000,2.000,0,1997,4634.320,10
1,2,-0.469,-0.013,0.000,2021-04-13,1,Probable Owner,single,young adult,1.000,0.000,21.500,25000.000,0.000,1.000,0.000,1,834,2091.360,9
2,3,-0.732,-0.066,-0.021,2021-04-23,0,Homeowner,married,middle-aged,2.000,1.000,49.500,137000.000,2.000,4.000,2.000,0,8540,2839.080,10
3,4,-0.384,-0.008,0.000,2021-04-14,1,Renter,single,senior,1.000,0.000,65.000,19500.000,0.000,1.000,1.000,2,382,1284.170,6
4,5,-0.533,0.000,0.000,2021-03-26,0,Homeowner,married,senior,1.000,0.000,65.000,162000.000,0.000,1.000,1.000,0,245,833.700,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,-0.749,-0.035,-0.008,2021-04-27,0,Homeowner,married,middle-aged,2.000,0.000,49.500,87000.000,0.000,3.000,2.000,0,130304,4644.320,11
2496,2497,-0.684,-0.009,-0.000,2021-03-19,2,Unknown,single,middle-aged,1.000,0.000,49.500,42000.000,0.000,1.000,0.000,4,61236,7610.700,13
2497,2498,-0.325,0.000,0.000,2021-04-15,2,Homeowner,unknown,adult,2.000,0.000,29.500,62000.000,0.000,2.000,2.000,0,31339,2784.030,11
2498,2499,-0.427,-0.003,-0.000,2021-03-11,2,Unknown,unknown,adult,2.000,1.000,29.500,15000.000,1.000,3.000,2.000,4,143449,3632.280,11
2499,2500,-0.638,-0.064,-0.010,2021-03-20,2,Renter,unknown,adult,1.000,0.000,29.500,29500.000,0.000,1.000,0.000,2,247365,5870.730,10

In [13]:
no_quantity_num = no_quantity.loc[:, ~no_quantity.columns.isin(
    ['homeowner_desc', 'marital_status', 'age_group',
     'first_transaction_date'])]

no_quantity_num

,household_key,retail_disc,coupon_disc,coupon_match_disc,marital_status_code,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender,homeowner_code,total_quantity,total_sales_value,unique_dep_count
0,1,-0.404,-0.047,-0.015,0,2.000,0.000,65.000,42000.000,0.000,2.000,2.000,0,1997,4634.320,10
1,2,-0.469,-0.013,0.000,1,1.000,0.000,21.500,25000.000,0.000,1.000,0.000,1,834,2091.360,9
2,3,-0.732,-0.066,-0.021,0,2.000,1.000,49.500,137000.000,2.000,4.000,2.000,0,8540,2839.080,10
3,4,-0.384,-0.008,0.000,1,1.000,0.000,65.000,19500.000,0.000,1.000,1.000,2,382,1284.170,6
4,5,-0.533,0.000,0.000,0,1.000,0.000,65.000,162000.000,0.000,1.000,1.000,0,245,833.700,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,-0.749,-0.035,-0.008,0,2.000,0.000,49.500,87000.000,0.000,3.000,2.000,0,130304,4644.320,11
2496,2497,-0.684,-0.009,-0.000,2,1.000,0.000,49.500,42000.000,0.000,1.000,0.000,4,61236,7610.700,13
2497,2498,-0.325,0.000,0.000,2,2.000,0.000,29.500,62000.000,0.000,2.000,2.000,0,31339,2784.030,11
2498,2499,-0.427,-0.003,-0.000,2,2.000,1.000,29.500,15000.000,1.000,3.000,2.000,4,143449,3632.280,11
2499,2500,-0.638,-0.064,-0.010,2,1.000,0.000,29.500,29500.000,0.000,1.000,0.000,2,247365,5870.730,10

SCALE

In [14]:
scaled_info = StandardScaler().fit_transform(no_quantity_num)

/Users/antoniooliveira/anaconda3/envs/Text_Mining/lib/python3.10/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/antoniooliveira/anaconda3/envs/Text_Mining/lib/python3.10/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/antoniooliveira/anaconda3/envs/Text_Mining/lib/python3.10/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/antoniooliveira/anaconda3/envs/Text_Mining/lib/python3.10/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/antoniooliveira/anaconda3/envs/Text_Mining/lib/python3.10/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/antoniooliveira/anaconda3/envs/Text_Mining/lib/python3.10/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [ ]:
dispersion = []
for k in range(1, 20):
    kmeans = KMeans(n_clusters=k, random_state=0).fit(scaled_info)
    dispersion.append(kmeans.inertia_)

In [ ]:
plt.plot(range(1, 20), dispersion, marker='o', color='orange')
plt.xlabel('Number of clusters')
plt.ylabel('Dispersion (inertia)')
plt.xticks(np.arange(0, 21, step=2))  
#plt.vlines(7, 5000, 600000, color='red')

plt.show()