# 01 - Variables Adjustment

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

import functions

## Import Data

In [2]:
hh = pd.read_csv("C:/Users/aprataso/Downloads/final_data/hh.csv")
transaction = pd.read_csv("C:/Users/aprataso/Downloads/final_data/trans.csv")
campaign = pd.read_csv("C:/Users/aprataso/Downloads/final_data/camp.csv")
coupon = pd.read_csv("C:/Users/aprataso/Downloads/final_data/coupon.csv")
prod = pd.read_csv("C:/Users/aprataso/Downloads/final_data/prod.csv")
causal = pd.read_csv("C:/Users/aprataso/Downloads/final_data/causal.csv")

In [1]:
!pip install jupyter_contrib_nbextensions

Collecting jupyter_contrib_nbextensions
  Downloading jupyter_contrib_nbextensions-0.7.0.tar.gz (23.5 MB)
     ---------------------------------------- 0.0/23.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/23.5 MB ? eta -:--:--
     ---------------------------------------- 0.0/23.5 MB ? eta -:--:--
     --------------------------------------- 0.0/23.5 MB 325.1 kB/s eta 0:01:13
     --------------------------------------- 0.1/23.5 MB 465.5 kB/s eta 0:00:51
     --------------------------------------- 0.1/23.5 MB 774.0 kB/s eta 0:00:31
     ---------------------------------------- 0.3/23.5 MB 1.2 MB/s eta 0:00:20
      --------------------------------------- 0.3/23.5 MB 1.2 MB/s eta 0:00:19
      --------------------------------------- 0.5/23.5 MB 1.7 MB/s eta 0:00:14
     - -------------------------------------- 0.7/23.5 MB 1.9 MB/s eta 0:00:12
     - -------------------------------------- 0.9/23.5 MB 2.2 MB/s eta 0:00:11
     - -------------------------------------- 1.1/23.5 MB 2.4 MB/s eta 0:00:10
     -- ------------------------------------- 1.3/23.5 MB 2.7 MB/s eta 0:00:09
     -- ------------------------------------- 1.6/23.5 MB 3.1 MB/s eta 0:00:08
     --- ------------------------------------ 2.0/23.5 MB 3.4 MB/s eta 0:00:07
     --- ------------------------------------ 2.0/23.5 MB 3.4 MB/s eta 0:00:07
     --- ------------------------------------ 2.3/23.5 MB 3.6 MB/s eta 0:00:06
     ---- ----------------------------------- 2.8/23.5 MB 4.0 MB/s eta 0:00:06
     ----- ---------------------------------- 3.1/23.5 MB 4.2 MB/s eta 0:00:05
     ------ --------------------------------- 3.6/23.5 MB 4.5 MB/s eta 0:00:05
     ------- -------------------------------- 4.4/23.5 MB 5.0 MB/s eta 0:00:04
     -------- ------------------------------- 4.9/23.5 MB 5.1 MB/s eta 0:00:04
     --------- ------------------------------ 5.4/23.5 MB 5.5 MB/s eta 0:00:04
     --------- ------------------------------ 5.9/23.5 MB 5.7 MB/s eta 0:00:04
     ---------- ----------------------------- 6.2/23.5 MB 5.8 MB/s eta 0:00:03
     ----------- ---------------------------- 6.6/23.5 MB 5.9 MB/s eta 0:00:03
     ------------ --------------------------- 7.1/23.5 MB 6.1 MB/s eta 0:00:03
     ------------ --------------------------- 7.4/23.5 MB 6.1 MB/s eta 0:00:03
     ------------- -------------------------- 7.7/23.5 MB 6.2 MB/s eta 0:00:03
     ------------- -------------------------- 8.1/23.5 MB 6.3 MB/s eta 0:00:03
     -------------- ------------------------- 8.5/23.5 MB 6.5 MB/s eta 0:00:03
     --------------- ------------------------ 8.9/23.5 MB 6.5 MB/s eta 0:00:03
     ---------------- ----------------------- 9.5/23.5 MB 6.7 MB/s eta 0:00:03
     ---------------- ----------------------- 9.7/23.5 MB 6.8 MB/s eta 0:00:03
     ----------------- ---------------------- 10.2/23.5 MB 6.8 MB/s eta 0:00:02
     ------------------ --------------------- 10.7/23.5 MB 8.3 MB/s eta 0:00:02
     ------------------ --------------------- 11.1/23.5 MB 8.6 MB/s eta 0:00:02
     ------------------- -------------------- 11.6/23.5 MB 9.1 MB/s eta 0:00:02
     -------------------- ------------------- 11.9/23.5 MB 9.1 MB/s eta 0:00:02
     --------------------- ------------------ 12.4/23.5 MB 9.5 MB/s eta 0:00:02
     --------------------- ------------------ 12.7/23.5 MB 9.6 MB/s eta 0:00:02
     ---------------------- ----------------- 13.3/23.5 MB 9.6 MB/s eta 0:00:02
     ----------------------- ---------------- 13.8/23.5 MB 9.5 MB/s eta 0:00:02
     ------------------------ --------------- 14.2/23.5 MB 9.8 MB/s eta 0:00:01
     ------------------------ --------------- 14.6/23.5 MB 9.6 MB/s eta 0:00:01
     ------------------------- -------------- 14.9/23.5 MB 9.5 MB/s eta 0:00:01
     -------------------------- ------------- 15.3/23.5 MB 9.5 MB/s eta 0:00:01
     -------------------------- ------------- 15.6/23.5 MB 9.5 MB/s eta 0:00:01
     --------------------------- ------------ 16.1/23.5 MB 9.5 MB/s eta 0:00:01
     ---------------------------- ----------- 16.5/23.5 MB 9.5 MB/s eta 0:00:01
     ---------------------------- ----------- 16.8/23.5 MB 9.5 MB/s eta 0:00:01
     ----------------------------- ---------- 17.4/23.5 MB 9.6 MB/s eta 0:00:01
     ------------------------------ --------- 17.6/23.5 MB 9.5 MB/s eta 0:00:01
     ------------------------------ --------- 18.1/23.5 MB 9.8 MB/s eta 0:00:01
     ------------------------------- -------- 18.6/23.5 MB 9.6 MB/s eta 0:00:01
     -------------------------------- ------- 19.0/23.5 MB 9.6 MB/s eta 0:00:01
     --------------------------------- ------ 19.4/23.5 MB 9.8 MB/s eta 0:00:01
     --------------------------------- ------ 19.7/23.5 MB 9.6 MB/s eta 0:00:01
     ---------------------------------- ----- 20.2/23.5 MB 9.8 MB/s eta 0:00:01
     ----------------------------------- ---- 20.6/23.5 MB 9.6 MB/s eta 0:00:01
     ----------------------------------- ---- 20.8/23.5 MB 9.4 MB/s eta 0:00:01
     ------------------------------------ --- 21.3/23.5 MB 9.4 MB/s eta 0:00:01
     ------------------------------------ --- 21.7/23.5 MB 9.4 MB/s eta 0:00:01
     ------------------------------------- -- 22.1/23.5 MB 9.4 MB/s eta 0:00:01
     -------------------------------------- - 22.5/23.5 MB 9.2 MB/s eta 0:00:01
     -------------------------------------- - 22.9/23.5 MB 9.2 MB/s eta 0:00:01
     ---------------------------------------  23.2/23.5 MB 9.2 MB/s eta 0:00:01
     ---------------------------------------  23.5/23.5 MB 9.4 MB/s eta 0:00:01
     ---------------------------------------- 23.5/23.5 MB 8.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: ipython-genutils in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Collecting jupyter-contrib-core>=0.3.3 (from jupyter_contrib_nbextensions)
  Downloading jupyter_contrib_core-0.4.2.tar.gz (17 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: jupyter-core in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter_contrib_nbextensions) (5.7.2)
Collecting jupyter-highlight-selected-word>=0.1.1 (from jupyter_contrib_nbextensions)
  Downloading jupyter_highlight_selected_word-0.2.0-py2.py3-none-any.whl.metadata (730 bytes)
Collecting jupyter-nbextensions-configurator>=0.4.0 (from jupyter_contrib_nbextensions)
  Downloading jupyter_nbextensions_configurator-0.6.4-py2.py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: nbconvert>=6.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter_contrib_nbextensions) (7.16.4)
Requirement already satisfied: notebook>=6.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter_contrib_nbextensions) (6.2.0)
Requirement already satisfied: tornado in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter_contrib_nbextensions) (6.4.1)
Requirement already satisfied: traitlets>=4.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter_contrib_nbextensions) (5.14.3)
Collecting lxml (from jupyter_contrib_nbextensions)
  Downloading lxml-5.2.2-cp312-cp312-win_amd64.whl.metadata (3.5 kB)
Requirement already satisfied: setuptools in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter-contrib-core>=0.3.3->jupyter_contrib_nbextensions) (72.1.0)
Collecting jupyter-server (from jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading jupyter_server-2.14.2-py3-none-any.whl.metadata (8.4 kB)
Collecting pyyaml (from jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading PyYAML-6.0.1-cp312-cp312-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (6.1.0)
Requirement already satisfied: defusedxml in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (3.1.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (2.1.5)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (5.10.4)
Requirement already satisfied: packaging in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (24.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (1.5.1)
Requirement already satisfied: pygments>=2.4.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (2.18.0)
Requirement already satisfied: tinycss2 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (1.3.0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter-core->jupyter_contrib_nbextensions) (4.2.2)
Requirement already satisfied: pywin32>=300 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter-core->jupyter_contrib_nbextensions) (306)
Requirement already satisfied: pyzmq>=17 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (26.0.3)
Requirement already satisfied: argon2-cffi in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (23.1.0)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (8.6.2)
Requirement already satisfied: ipykernel in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (6.29.5)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (0.18.1)
Requirement already satisfied: prometheus-client in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (0.20.0)
Requirement already satisfied: six>=1.9.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from bleach!=5.0.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (1.16.0)
Requirement already satisfied: webencodings in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from bleach!=5.0.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jupyter-client>=5.3.4->notebook>=6.0->jupyter_contrib_nbextensions) (2.9.0.post0)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (4.23.0)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from terminado>=0.8.3->notebook>=6.0->jupyter_contrib_nbextensions) (2.0.13)
Requirement already satisfied: argon2-cffi-bindings in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from argon2-cffi->notebook>=6.0->jupyter_contrib_nbextensions) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->nbconvert>=6.0->jupyter_contrib_nbextensions) (2.5)
Requirement already satisfied: comm>=0.1.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (1.8.2)
Requirement already satisfied: ipython>=7.23.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (8.26.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.1.7)
Requirement already satisfied: nest-asyncio in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (1.6.0)
Requirement already satisfied: psutil in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (6.0.0)
Collecting anyio>=3.1.0 (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading anyio-4.4.0-py3-none-any.whl.metadata (4.6 kB)
Collecting jupyter-events>=0.9.0 (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading jupyter_events-0.10.0-py3-none-any.whl.metadata (5.9 kB)
Collecting jupyter-server-terminals>=0.4.4 (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading jupyter_server_terminals-0.5.3-py3-none-any.whl.metadata (5.6 kB)
Collecting overrides>=5.0 (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading overrides-7.7.0-py3-none-any.whl.metadata (5.8 kB)
Collecting websocket-client>=1.7 (from jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Collecting idna>=2.8 (from anyio>=3.1.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting sniffio>=1.1 (from anyio>=3.1.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading sniffio-1.3.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: decorator in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (3.0.47)
Requirement already satisfied: stack-data in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.6.3)
Requirement already satisfied: colorama in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from ipython>=7.23.1->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.4.6)
Requirement already satisfied: attrs>=22.2.0 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (0.19.1)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.9.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading python_json_logger-2.0.7-py3-none-any.whl.metadata (6.5 kB)
Collecting rfc3339-validator (from jupyter-events>=0.9.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.9.0->jupyter-server->jupyter-nbextensions-configurator>=0.4.0->jupyter_contrib_nbextensions)
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: cffi>=1.0.1 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=6.0->jupyter_contrib_nbextensions) (1.16.0)
Requirement already satisfied: pycparser in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=6.0->jupyter_contrib_nbextensions) (2.22)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\aprataso\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->notebook>=6.0->jupyter_contrib_nbextensions) (0.8.4)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## HH_demographic

In [3]:
hh

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,household_key,marital_status,age_group,adult_category_size,has_kids
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1,married,senior,2.0,unknown
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7,married,middle-aged,2.0,unknown
2,25-34,U,25-34K,Unknown,2 Adults Kids,3,1,8,unknown,adult,2.0,Yes
3,25-34,U,75-99K,Homeowner,2 Adults Kids,4,2,13,unknown,adult,2.0,Yes
4,45-54,B,50-74K,Homeowner,Single Female,1,None/Unknown,16,single,middle-aged,1.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
796,35-44,U,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,2494,unknown,middle-aged,2.0,unknown
797,45-54,A,75-99K,Homeowner,Unknown,3,1,2496,married,middle-aged,NaN,unknown
798,45-54,U,35-49K,Unknown,Single Male,1,None/Unknown,2497,unknown,middle-aged,1.0,No
799,25-34,U,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,2498,unknown,adult,2.0,unknown
800,25-34,U,Under 15K,Unknown,2 Adults Kids,3,1,2499,unknown,adult,2.0,Yes

In [4]:
hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age_desc             801 non-null    object
 1   marital_status_code  801 non-null    object
 2   income_desc          801 non-null    object
 3   homeowner_desc       801 non-null    object
 4   hh_comp_desc         801 non-null    object
 5   household_size_desc  801 non-null    object
 6   kid_category_desc    801 non-null    object
 7   household_key        801 non-null    int64
 8   marital_status       801 non-null    object
 9   age_group            801 non-null    object
 10  adult_category_size  728 non-null    float64
 11  has_kids             801 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 75.2+ KB

has kids

In [5]:
hh['has_kids'] = hh['has_kids'].replace({
    'Yes': True,
    'No': False,
    'unknown': np.nan
})

Age

In [6]:
hh['min_age'] = hh['age_desc'].str[:2]
hh['max_age'] = hh['age_desc'].apply(lambda x: x[-2:] if len(x) > 3 else 65)

hh['min_age'] = hh['min_age'].astype('int')
hh['min_age'].unique()

array([65, 45, 25, 35, 19, 55])

In [7]:
hh['max_age'] = hh['max_age'].astype(int)
hh['max_age'].unique()

array([65, 54, 34, 44, 24, 64])

In [8]:
hh['avg_age'] = (hh['min_age'] + hh['max_age']) / 2

hh = hh.drop(['min_age', 'max_age'], axis = 1)

Income

In [9]:
hh['income_'] = hh['income_desc'].str.findall(r'\d+')
hh['income_'] = hh['income_'].apply(lambda x: list(map(int, x)) if x else [])
hh[['income_', 'income_desc']]

      income_ income_desc
0    [35, 49]      35-49K
1    [50, 74]      50-74K
2    [25, 34]      25-34K
3    [75, 99]      75-99K
4    [50, 74]      50-74K
..        ...         ...
796  [50, 74]      50-74K
797  [75, 99]      75-99K
798  [35, 49]      35-49K
799  [50, 74]      50-74K
800      [15]   Under 15K

[801 rows x 2 columns]

In [10]:
hh['income_desc'].unique()

array(['35-49K', '50-74K', '25-34K', '75-99K', 'Under 15K', '100-124K',
       '15-24K', '125-149K', '150-174K', '250K+', '175-199K', '200-249K'],
      dtype=object)

In [11]:
hh[hh['income_desc'] == '200-249K']

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,household_key,marital_status,age_group,adult_category_size,has_kids,avg_age,income_
280,45-54,A,200-249K,Homeowner,2 Adults No Kids,2,None/Unknown,844,married,middle-aged,2.0,NaN,49.5,"[200, 249]"
293,35-44,A,200-249K,Homeowner,2 Adults Kids,3,1,871,married,middle-aged,2.0,True,39.5,"[200, 249]"
318,19-24,A,200-249K,Unknown,2 Adults No Kids,2,None/Unknown,941,married,young adult,2.0,NaN,21.5,"[200, 249]"
328,25-34,A,200-249K,Homeowner,2 Adults Kids,5+,3+,976,married,adult,2.0,True,29.5,"[200, 249]"
714,35-44,A,200-249K,Homeowner,2 Adults No Kids,2,None/Unknown,2231,married,middle-aged,2.0,NaN,39.5,"[200, 249]"

In [12]:
hh['avg_income'] = hh['income_'].apply(lambda x: sum(x) / len(x) * 1000 if len(x) > 0 else None)
hh['avg_income'] = hh['avg_income'].astype(int)
hh['avg_income']

hh = hh.drop(['income_'], axis = 1)

Category Sizes

In [13]:
hh['n_kids'] = hh['kid_category_desc'].replace({
    '1': 1,
    '2': 2,
    '3+': 3,
    'None/Unknown': np.nan
})

hh['n_kids'] = hh['n_kids'].astype(float)

hh = hh.drop('kid_category_desc', axis = 1)

C:\Users\aprataso\AppData\Local\Temp\ipykernel_10124\522929728.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_kids'] = hh['kid_category_desc'].replace({

In [14]:
hh['n_household'] = hh['household_size_desc'].replace({
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5+': 5
})

hh['n_household'] = hh['n_household'].astype(int)

hh = hh.drop('household_size_desc', axis = 1)

C:\Users\aprataso\AppData\Local\Temp\ipykernel_10124\2272981407.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_household'] = hh['household_size_desc'].replace({

In [15]:
#hh['household_size_desc'].unique()

gender

In [16]:
hh['hh_comp_desc'].unique()

array(['2 Adults No Kids', '2 Adults Kids', 'Single Female', 'Unknown',
       'Single Male', '1 Adult Kids'], dtype=object)

In [17]:
mapping = {
     'Single Male': 0,
     'Single Female': 1,
     '2 Adults No Kids': 2,
     '2 Adults Kids': 2
}

hh['gender(s)'] = hh['hh_comp_desc'].map(mapping)

assign gender to '1 adult kids' based on % of males and females

In [18]:
# Filter out rows where 'gender(s)' is not 0 or 1
filtered_hh = hh[hh['gender(s)'].isin([0, 1])]

# Calculate total number of rows after filtering
total_rows_filtered = len(filtered_hh)

# Count occurrences of each value in 'gender(s)' after filtering
gender_counts_filtered = filtered_hh['gender(s)'].value_counts()

# Percentages for 'Single Male' (0) and 'Single Female' (1)
male_count_filtered = gender_counts_filtered.get(0, 0)  # Count of males
female_count_filtered = gender_counts_filtered.get(1, 0)  # Count of females

male_probability = male_count_filtered / total_rows_filtered
female_probability = female_count_filtered / total_rows_filtered

# Filter for "1 Adult Kids"
adult_kids_filter = hh['hh_comp_desc'] == '1 Adult Kids'

# Randomly assign 'male' or 'female' based on calculated probabilities
np.random.seed(0)  # For reproducibility
assign_gender = np.random.choice([0, 1], size=adult_kids_filter.sum(), p=[male_probability, female_probability])

# Update the 'gender(s)' column with the assigned genders
hh.loc[adult_kids_filter, 'gender(s)'] = assign_gender

#hh = hh.drop('hh_comp_desc', axis = 1)

In [19]:
hh[hh['hh_comp_desc'] == 'Unknown']#.head(3)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_key,marital_status,age_group,adult_category_size,has_kids,avg_age,avg_income,n_kids,n_household,gender(s)
10,35-44,U,50-74K,Unknown,Unknown,25,unknown,middle-aged,NaN,NaN,39.5,62000,NaN,1,NaN
51,45-54,U,50-74K,Unknown,Unknown,136,unknown,middle-aged,NaN,NaN,49.5,62000,NaN,1,NaN
56,45-54,U,50-74K,Homeowner,Unknown,158,unknown,middle-aged,NaN,NaN,49.5,62000,NaN,1,NaN
74,35-44,U,50-74K,Homeowner,Unknown,216,unknown,middle-aged,NaN,NaN,39.5,62000,NaN,1,NaN
78,65+,U,15-24K,Unknown,Unknown,221,unknown,senior,NaN,NaN,65.0,19500,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,55-64,U,100-124K,Homeowner,Unknown,2342,unknown,senior,NaN,NaN,59.5,112000,NaN,1,NaN
758,25-34,B,50-74K,Homeowner,Unknown,2360,single,adult,NaN,NaN,29.5,62000,NaN,1,NaN
766,45-54,U,50-74K,Homeowner,Unknown,2380,unknown,middle-aged,NaN,NaN,49.5,62000,NaN,1,NaN
782,45-54,U,35-49K,Unknown,Unknown,2445,unknown,middle-aged,NaN,NaN,49.5,42000,NaN,1,NaN
797,45-54,A,75-99K,Homeowner,Unknown,2496,married,middle-aged,NaN,NaN,49.5,87000,1.0,3,NaN

if household_size_desc = 1 then adult_category_size = 1

In [20]:
hh.loc[hh['n_household'] == 1, 'adult_category_size'] = 1

if adult_category_size = 1 then has_kids = False and n_kids = 0

In [21]:
hh.loc[hh['adult_category_size'] == 1, 'n_kids'] = 0
hh.loc[hh['adult_category_size'] == 1, 'has_kids'] = False

if adult_category_size is null then adult_category_size= n_household - n_kids

In [22]:
hh.loc[hh['adult_category_size'].isna(), 'adult_category_size'] = (
    hh['n_household'] - hh['n_kids']
)

if adult_category_size = 2 and gender(s) is null -> gender(s) = 2

In [23]:
hh.loc[(hh['adult_category_size'] == 2) & (hh['gender(s)'].isna()), 'gender(s)'] = 2

if n_kids > 0 -> has kids = 1

In [24]:
hh.loc[hh['n_kids'] == 1, 'has_kids'] = True

if n_household = 1 or = 2 and gender is null, assign gender given previously computed probabilties

In [25]:
filtered_hh = hh[(hh['n_household'] == 1) | (hh['n_household'] == 2) & (hh['gender(s)'].isna())]

assign_gender = np.random.choice([0, 1], size=len(filtered_hh), p=[male_probability, female_probability])

hh.loc[filtered_hh.index, 'gender(s)'] = assign_gender

if adult_category_size = 1 and marital_status = unknown --> marital_status = Single and marital_status_code = U

In [26]:
hh.loc[(hh['adult_category_size'] == 1) & (hh['marital_status'] == 'unknown'), 'marital_status'] = 'single'
hh.loc[(hh['adult_category_size'] == 1) & (hh['marital_status'] == 'single'), 'marital_status_code'] = 'U'

if adult_category_size = 2 and has_kids is null -> has_kids = False

In [27]:
hh.loc[(hh['adult_category_size'] == 2) & (hh['has_kids'].isna()), 'has_kids'] = False

if adult_category_size = 2 and n_kids is null -> n_kids = 0

In [28]:
hh.loc[(hh['adult_category_size'] == 2) & (hh['n_kids'].isna()), 'n_kids'] = 0

if marital_status_code = A and hh_comp_desc = Unknown --> adult_category_size = 2 and has_kids = False and n_kids = 0 and gender(s) = 2

In [29]:
condition = (hh['marital_status_code'] == 'A') & (hh['hh_comp_desc'] == 'Unknown')

hh.loc[condition, 'adult_category_size'] = 2
hh.loc[condition, 'has_kids'] = False
hh.loc[condition, 'n_kids'] = 0
hh.loc[condition, 'gender(s)'] = 2

In [30]:
hh.loc[hh['adult_category_size'].isna()]

Empty DataFrame
Columns: [age_desc, marital_status_code, income_desc, homeowner_desc, hh_comp_desc, household_key, marital_status, age_group, adult_category_size, has_kids, avg_age, avg_income, n_kids, n_household, gender(s)]
Index: []

drop unnecessary

In [31]:
hh = hh.drop(['hh_comp_desc', 'income_desc', 'age_desc'], axis = 1)

In [32]:
hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   marital_status_code  801 non-null    object
 1   homeowner_desc       801 non-null    object
 2   household_key        801 non-null    int64
 3   marital_status       801 non-null    object
 4   age_group            801 non-null    object
 5   adult_category_size  801 non-null    float64
 6   has_kids             801 non-null    object
 7   avg_age              801 non-null    float64
 8   avg_income           801 non-null    int64
 9   n_kids               801 non-null    float64
 10  n_household          801 non-null    int64
 11  gender(s)            801 non-null    float64
dtypes: float64(4), int64(3), object(5)
memory usage: 75.2+ KB

## Transaction

In [33]:
transaction

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12

In [34]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2595732 entries, 0 to 2595731
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   household_key           int64
 1   basket_id               int64
 2   day                     int64
 3   product_id              int64
 4   quantity                int64
 5   sales_value             float64
 6   store_id                int64
 7   retail_disc             float64
 8   trans_time              int64
 9   week_no                 int64
 10  coupon_disc             float64
 11  coupon_match_disc       float64
 12  sales_value_eu          float64
 13  loyalty_card_price      float64
 14  non_loyalty_card_price  float64
 15  days_                   int64
 16  transaction_date        object
dtypes: float64(7), int64(9), object(1)
memory usage: 336.7+ MB

prices

In [35]:
transaction['loyalty_eu'] = transaction['loyalty_card_price'] * 1.07
transaction['non_loyalty_eu'] = transaction['non_loyalty_card_price'] * 1.07

transaction['loyalty_eu'] = transaction['loyalty_eu'].round(2)
transaction['non_loyalty_eu'] = transaction['non_loyalty_eu'].round(2)

In [36]:
transaction = transaction.drop(['days_', 'loyalty_card_price', 'non_loyalty_card_price', 'sales_value'], axis = 1)

group data by basket_id

In [37]:
basket = transaction.groupby(['household_key', 'basket_id', 'day']).agg({
    'product_id': lambda x: list(x),
    'quantity': lambda x: x.tolist(),
    'store_id': 'first',
    'retail_disc': 'mean',
    'trans_time': 'first',
    'week_no': 'first',
    'coupon_disc': 'mean',
    'coupon_match_disc': 'mean',
    'sales_value_eu': lambda x: list(x),
    'loyalty_eu': lambda x: list(x),
    'non_loyalty_eu': lambda x: list(x),
    'transaction_date': lambda x: list(x)
}).reset_index()

basket.sort_values(by='day')

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_eu,non_loyalty_eu,transaction_date
129549,1172,26985025264,1,"[877180, 878664, 930917, 940796, 981760, 99997...","[1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",396,-0.751765,946,1,0.0,0.0,"[2.45, 2.14, 2.14, 3.84, 0.85, 1.06, 4.75, 2.1...","[2.45, 3.2, 1.49, 3.84, 1.49, 1.38, 5.7, 1.49,...","[2.45, 2.14, 1.07, 3.84, 0.85, 1.06, 4.75, 1.0...","[2021-01-01, 2021-01-01, 2021-01-01, 2021-01-0..."
147794,1351,26985052379,1,[903230],[1],447,-0.300000,1955,1,0.0,0.0,[1.06],[1.38],[1.06],[2021-01-01]
118142,1060,26985040735,1,"[820162, 827656, 829617, 833014, 833598, 84655...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",315,-0.387200,1251,1,0.0,0.0,"[1.92, 4.01, 1.59, 2.99, 2.35, 1.92, 1.58, 4.5...","[1.92, 4.01, 2.13, 3.2, 2.82, 1.92, 1.58, 4.59...","[1.92, 4.01, 1.59, 2.99, 2.35, 1.92, 1.58, 4.5...","[2021-01-01, 2021-01-01, 2021-01-01, 2021-01-0..."
274742,2483,26992197681,1,[3843566],[2],2602,-0.980000,1823,1,0.0,0.0,[5.35],[3.2],[2.68],[2021-01-01]
263586,2375,26984851472,1,"[1004906, 1033142, 1036325, 1082185, 8160430]","[1, 1, 1, 1, 1]",364,-0.258000,1631,1,0.0,0.0,"[1.49, 0.88, 1.06, 1.29, 1.61]","[2.13, 0.88, 1.38, 1.29, 2.02]","[1.49, 0.88, 1.06, 1.29, 1.6]","[2021-01-01, 2021-01-01, 2021-01-01, 2021-01-0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77449,715,42289858738,711,"[878234, 903602, 984669, 986394, 1080414, 1128...","[3, 1, 1, 3, 3, 3, 1, 1]",415,-0.753750,1748,102,0.0,0.0,"[1.07, 6.41, 2.45, 1.07, 1.07, 3.21, 2.68, 6.41]","[0.63, 6.41, 2.99, 0.64, 0.63, 1.07, 4.06, 8.44]","[0.35, 6.41, 2.45, 0.35, 0.35, 1.07, 2.68, 6.41]","[2022-12-12, 2022-12-12, 2022-12-12, 2022-12-1..."
217552,1969,42289681743,711,"[859010, 883404, 1081177, 1096317, 1123842, 80...","[1, 1, 1, 1, 1, 1, 1]",356,-0.957143,1431,102,0.0,0.0,"[2.45, 1.07, 2.33, 1.59, 2.68, 3.08, 3.08]","[2.77, 1.38, 2.33, 1.59, 4.06, 5.66, 5.66]","[2.45, 1.07, 2.33, 1.59, 2.68, 3.08, 3.08]","[2022-12-12, 2022-12-12, 2022-12-12, 2022-12-1..."
90739,840,42289776960,711,"[827802, 840573, 860975, 872183, 874972, 91794...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",400,-0.500625,1456,102,0.0,0.0,"[1.61, 2.14, 2.13, 3.2, 10.76, 1.7, 4.7, 1.53,...","[2.13, 2.56, 2.13, 4.27, 12.56, 1.7, 4.7, 1.53...","[1.6, 2.14, 2.13, 3.2, 10.76, 1.7, 4.7, 1.53, ...","[2022-12-12, 2022-12-12, 2022-12-12, 2022-12-1..."
220239,1994,42289346034,711,"[854405, 859075, 862308, 883404, 893501, 89871...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]",31782,-0.874667,1329,102,0.0,0.0,"[8.55, 1.34, 1.07, 1.07, 1.61, 2.13, 1.34, 1.9...","[10.69, 1.9, 1.7, 1.38, 1.7, 2.13, 1.9, 2.77, ...","[8.55, 1.34, 1.07, 1.07, 1.6, 2.13, 1.34, 1.92...","[2022-12-12, 2022-12-12, 2022-12-12, 2022-12-1..."
220238,1994,42289346015,711,"[923438, 1053690, 1124695, 1134810, 13945093]","[1, 2, 1, 1, 1]",31782,-0.332000,1325,102,0.0,0.0,"[2.68, 3.21, 2.68, 2.68, 2.68]","[3.2, 1.7, 2.94, 2.94, 3.2]","[2.68, 1.6, 2.68, 2.68, 2.68]","[2022-12-12, 2022-12-12, 2022-12-12, 2022-12-1..."

In [38]:
# Apply serialization
basket['product_id'] = basket['product_id'].apply(functions.serialize_list)

In [39]:
#basket['quantity'].apply(functions.find_non_numeric_values)

## Campaign

In [40]:
campaign

,campaign,description,start_day,end_day,household_key,campaign_duration,start_date,end_date
0,26,TypeA,224,264,17,40,2021-08-12,2021-09-21
1,26,TypeA,224,264,27,40,2021-08-12,2021-09-21
2,26,TypeA,224,264,212,40,2021-08-12,2021-09-21
3,26,TypeA,224,264,208,40,2021-08-12,2021-09-21
4,26,TypeA,224,264,192,40,2021-08-12,2021-09-21
...,...,...,...,...,...,...,...,...
7203,15,TypeC,547,708,1803,161,2022-07-01,2022-12-09
7204,15,TypeC,547,708,1082,161,2022-07-01,2022-12-09
7205,15,TypeC,547,708,942,161,2022-07-01,2022-12-09
7206,15,TypeC,547,708,855,161,2022-07-01,2022-12-09
7207,15,TypeC,547,708,334,161,2022-07-01,2022-12-09

In [41]:
campaigns_per_household = campaign.groupby('household_key').agg({
    'campaign': lambda x: list(x),
    'description': lambda x: list(x),
    'start_day': lambda x: list(x),            
    'end_day': lambda x: list(x),               
    'campaign_duration': lambda x: list(x),     
    'start_date': lambda x: list(x),            
    'end_date': lambda x: list(x)               
}).reset_index()

campaigns_per_household.sort_values(by= 'household_key')

,household_key,campaign,description,start_day,end_day,campaign_duration,start_date,end_date
0,1,"[8, 13, 18, 29, 12, 22, 23, 20]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeB, Typ...","[412, 504, 587, 281, 477, 624, 646, 615]","[460, 551, 642, 334, 509, 656, 684, 685]","[48, 47, 55, 53, 32, 32, 38, 70]","[2022-02-16, 2022-05-19, 2022-08-10, 2021-10-0...","[2022-04-05, 2022-07-05, 2022-10-04, 2021-11-3..."
1,2,[18],[TypeA],[587],[642],[55],[2022-08-10],[2022-10-04]
2,3,"[8, 13, 14]","[TypeA, TypeA, TypeC]","[412, 504, 531]","[460, 551, 596]","[48, 47, 65]","[2022-02-16, 2022-05-19, 2022-06-15]","[2022-04-05, 2022-07-05, 2022-08-19]"
3,4,[8],[TypeA],[412],[460],[48],[2022-02-16],[2022-04-05]
4,6,"[8, 13, 18, 7]","[TypeA, TypeA, TypeA, TypeB]","[412, 504, 587, 398]","[460, 551, 642, 432]","[48, 47, 55, 34]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-02-02]","[2022-04-05, 2022-07-05, 2022-10-04, 2022-03-08]"
...,...,...,...,...,...,...,...,...
1579,2496,"[8, 13, 18, 17, 14]","[TypeA, TypeA, TypeA, TypeB, TypeC]","[412, 504, 587, 575, 531]","[460, 551, 642, 607, 596]","[48, 47, 55, 32, 65]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-07-2...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-08-3..."
1580,2497,"[8, 13, 18]","[TypeA, TypeA, TypeA]","[412, 504, 587]","[460, 551, 642]","[48, 47, 55]","[2022-02-16, 2022-05-19, 2022-08-10]","[2022-04-05, 2022-07-05, 2022-10-04]"
1581,2498,"[8, 13, 18, 16, 17, 6]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeC]","[412, 504, 587, 561, 575, 393]","[460, 551, 642, 593, 607, 425]","[48, 47, 55, 32, 32, 32]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-07-1...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-08-1..."
1582,2499,"[8, 18]","[TypeA, TypeA]","[412, 587]","[460, 642]","[48, 55]","[2022-02-16, 2022-08-10]","[2022-04-05, 2022-10-04]"
1583,2500,"[8, 13, 18, 9, 10, 17, 19, 20]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeB, Typ...","[412, 504, 587, 435, 463, 575, 603, 615]","[460, 551, 642, 467, 495, 607, 635, 685]","[48, 47, 55, 32, 32, 32, 32, 70]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-03-1...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-04-1..."

## Coupon

In [42]:
coupon

,coupon_upc,product_id,household_key,day,campaign,trans_date,is_coupon_redeemed
0,10000089061,4,27160,NaN,NaN,NaN,False
1,10000089064,9,27754,1773.0,439.0,2022-03-15,True
2,10000089064,9,27754,321.0,446.0,2022-03-22,True
3,10000089073,12,28897,2462.0,481.0,2022-04-26,True
4,10000089073,12,28897,2451.0,479.0,2022-04-24,True
...,...,...,...,...,...,...,...
2218546,10000085477,18,13213390,490.0,607.0,2022-08-30,True
2218547,10000085477,18,13213390,367.0,596.0,2022-08-19,True
2218548,10000085477,18,13213390,305.0,608.0,2022-08-31,True
2218549,10000085477,18,13213390,164.0,597.0,2022-08-20,True
2218550,10000085477,18,13213390,104.0,614.0,2022-09-06,True

In [43]:
coupon.isna().sum()

coupon_upc                0
product_id                0
household_key             0
day                   20189
campaign              20189
trans_date            20189
is_coupon_redeemed        0
dtype: int64

In [44]:
coupon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218551 entries, 0 to 2218550
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   coupon_upc          int64
 1   product_id          int64
 2   household_key       int64
 3   day                 float64
 4   campaign            float64
 5   trans_date          object
 6   is_coupon_redeemed  bool
dtypes: bool(1), float64(2), int64(3), object(1)
memory usage: 103.7+ MB

In [45]:
#coupon['household_key'] = coupon['household_key'].astype(int)
#coupon['day'] = coupon['day'].astype(int)
#coupon['campaign'] = coupon['campaign'].astype(int)

In [46]:
coupon[coupon['is_coupon_redeemed'] == False]

,coupon_upc,product_id,household_key,day,campaign,trans_date,is_coupon_redeemed
0,10000089061,4,27160,NaN,NaN,NaN,False
13,51800009050,28,28919,NaN,NaN,NaN,False
28,52100026076,28,28929,NaN,NaN,NaN,False
29,52100020075,1,28929,NaN,NaN,NaN,False
44,52100026076,28,29096,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...
2216219,52770031050,26,110028,NaN,NaN,NaN,False
2216220,52770031050,26,1111344,NaN,NaN,NaN,False
2216221,52770031050,26,1949053,NaN,NaN,NaN,False
2216222,53700067076,26,5125479,NaN,NaN,NaN,False
2216223,53700067076,26,5566800,NaN,NaN,NaN,False

In [47]:
coupons_per_household = coupon.groupby('household_key').agg({
    'coupon_upc': lambda x: list(x),
    'product_id': lambda x: list(x),
    'day': lambda x: list(x),            
    'campaign': lambda x: list(x),               
    'trans_date': lambda x: list(x),     
    'is_coupon_redeemed': lambda x: list(x)                    
}).reset_index()

coupons_per_household.sort_values(by= 'household_key')

,household_key,coupon_upc,product_id,day,campaign,trans_date,is_coupon_redeemed
0,25671,"[10000085427, 10000085427, 10000085427, 100000...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[2489.0, 2427.0, 2280.0, 2130.0, 2085.0, 1965....","[515.0, 505.0, 512.0, 528.0, 531.0, 523.0, 523...","[2022-05-30, 2022-05-20, 2022-05-27, 2022-06-1...","[True, True, True, True, True, True, True, Tru..."
1,26190,"[10000089133, 10000089133, 51111070150, 100000...","[13, 13, 26, 8]","[2147.0, 1965.0, 788.0, 222.0]","[510.0, 509.0, 257.0, 415.0]","[2022-05-25, 2022-05-24, 2021-09-14, 2022-02-19]","[True, True, True, True]"
2,26601,"[10000085428, 10000085428, 10000085428, 100000...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[2451.0, 2124.0, 2007.0, 1995.0, 1990.0, 1081....","[513.0, 541.0, 512.0, 516.0, 545.0, 548.0, 525...","[2022-05-28, 2022-06-25, 2022-05-27, 2022-05-3...","[True, True, True, True, True, True, True, Tru..."
3,26738,"[51111037233, 51111037250, 10000085427, 100000...","[26, 30, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[788.0, 239.0, 2489.0, 2427.0, 2280.0, 2130.0,...","[257.0, 332.0, 515.0, 505.0, 512.0, 528.0, 531...","[2021-09-14, 2021-11-28, 2022-05-30, 2022-05-2...","[True, True, True, True, True, True, True, Tru..."
4,26941,"[10000085427, 10000085427, 10000085427, 100000...","[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 1...","[2489.0, 2427.0, 2280.0, 2130.0, 2085.0, 1965....","[515.0, 505.0, 512.0, 528.0, 531.0, 523.0, 523...","[2022-05-30, 2022-05-20, 2022-05-27, 2022-06-1...","[True, True, True, True, True, True, True, Tru..."
...,...,...,...,...,...,...,...
44128,18056453,"[10000085475, 10000085475, 10000085475, 100000...","[18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[2488.0, 2462.0, 2451.0, 2421.0, 2378.0, 2351....","[621.0, 602.0, 591.0, 605.0, 610.0, 598.0, 642...","[2022-09-13, 2022-08-25, 2022-08-14, 2022-08-2...","[True, True, True, True, True, True, True, Tru..."
44129,18104791,"[10000085475, 10000085475, 10000085475, 100000...","[18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[2488.0, 2462.0, 2451.0, 2421.0, 2378.0, 2351....","[621.0, 602.0, 591.0, 605.0, 610.0, 598.0, 642...","[2022-09-13, 2022-08-25, 2022-08-14, 2022-08-2...","[True, True, True, True, True, True, True, Tru..."
44130,18105264,"[10000085475, 10000085475, 10000085475, 100000...","[18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[2488.0, 2462.0, 2451.0, 2421.0, 2378.0, 2351....","[621.0, 602.0, 591.0, 605.0, 610.0, 598.0, 642...","[2022-09-13, 2022-08-25, 2022-08-14, 2022-08-2...","[True, True, True, True, True, True, True, Tru..."
44131,18122531,"[54589399250, 54589399250, 54589399250, 545893...","[14, 14, 14, 14, 27, 27]","[2489.0, 636.0, 588.0, nan, nan, nan]","[558.0, 533.0, 591.0, nan, nan, nan]","[2022-07-12, 2022-06-17, 2022-08-14, nan, nan,...","[True, True, True, False, False, False]"
44132,18148540,"[52840000033, 52840000033, 52840000033]","[25, 25, 25]","[2427.0, 1534.0, 400.0]","[682.0, 673.0, 683.0]","[2022-11-13, 2022-11-04, 2022-11-14]","[True, True, True]"

## Product

In [48]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92353 entries, 0 to 92352
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  92353 non-null  int64
 1   manufacturer                92353 non-null  int64
 2   department                  92353 non-null  object
 3   brand                       92353 non-null  object
 4   commodity_desc              92353 non-null  object
 5   sub_commodity_desc          92353 non-null  object
 6   curr_size_of_product        92353 non-null  object
 7   curr_size_of_product_value  61079 non-null  float64
 8   curr_size_of_product_units  92353 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 6.3+ MB

In [49]:
#prod['brand'].unique()
prod['brand_bin'] = prod['brand'].replace({
    'National': True,
    'Private': False
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_10124\3423060936.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  prod['brand_bin'] = prod['brand'].replace({

In [50]:
prod[prod['commodity_desc'] == ' ']

,product_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units,brand_bin
52189,5126087,1,,National,,,,NaN,,True
52190,5126088,1,,National,,,,NaN,,True
52191,5126106,1,,National,,,,NaN,,True
52192,5126107,1,,National,,,,NaN,,True
55048,5977100,1,,National,,,,NaN,,True
55054,5978648,1,,National,,,,NaN,,True
55055,5978649,1,,National,,,,NaN,,True
55056,5978650,1,,National,,,,NaN,,True
55057,5978656,1,,National,,,,NaN,,True
55058,5978657,1,,National,,,,NaN,,True
55059,5978659,1,,National,,,,NaN,,True
55277,5993051,1,,National,,,,NaN,,True
55278,5993054,1,,National,,,,NaN,,True
55279,5993055,1,,National,,,,NaN,,True
58244,6693056,1,,National,,,,NaN,,True

drop products w/o commodity & sub_commodity

In [51]:
prod = prod[prod['commodity_desc'] != ' '].reset_index(drop=True)

reduce departments

In [52]:
replacement_mapping = {
    'MEAT': 'Meat',
    'MEAT-PCKGD': 'Meat',
    'MEAT-WHSE': 'Meat',
    'PORK': 'Meat',
    'SEAFOOD': 'Seafood',
    'SEAFOOD-PCKGD': 'Seafood',
    'FROZEN GROCERY': 'Groceries',
    'PRODUCE': 'Groceries',
    'GROCERY': 'Groceries',
    'NUTRITION': 'Groceries',
    'GRO BAKERY': 'Bakery',
    'PASTRY': 'Bakery'
}

prod['department'] = prod['department'].replace(replacement_mapping)

In [53]:
prod

,product_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units,brand_bin
0,25671,2,Groceries,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB,22.0,LB,True
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,,NaN,,True
2,26093,69,Bakery,Private,BREAD,BREAD:ITALIAN/FRENCH,,NaN,,False
3,26190,69,Groceries,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ,50.0,OZ,False
4,26355,69,Groceries,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ,14.0,OZ,False
...,...,...,...,...,...,...,...,...,...,...
92333,18293142,6384,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,,NaN,,True
92334,18293439,6393,DRUG GM,National,BOOKSTORE,CHILDRENS LOW END,,NaN,,True
92335,18293696,6406,DRUG GM,National,BOOKSTORE,PAPERBACK BEST SELLER,,NaN,,True
92336,18294080,6442,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,,NaN,,True
92337,18316298,764,Groceries,National,PAPER TOWELS,PAPER TOWELS & HOLDERS,,NaN,,True

## Causal

In [54]:
causal

,product_id,store_id,week_no,display,mailer,display_description,mailer_description
0,770829,432,84,9,0,Secondary Location Display,Not an Ad
1,770829,433,13,5,H,Rear End Cap,Wrap front feature
2,770829,433,29,0,A,Not On Display,Interior page feature
3,770829,433,45,0,A,Not On Display,Interior page feature
4,770829,433,69,0,H,Not On Display,Wrap front feature
...,...,...,...,...,...,...,...
36786519,6391443,298,32,0,A,Not On Display,Interior page feature
36786520,6391443,299,9,0,A,Not On Display,Interior page feature
36786521,6391443,299,10,0,L,Not On Display,Wrap back feature
36786522,6391443,299,11,0,L,Not On Display,Wrap back feature
36786523,6391443,299,12,0,A,Not On Display,Interior page feature

In [55]:
causal_per_prod_id = causal.groupby('product_id').agg({
    'store_id': lambda x: list(x),
    'week_no': lambda x: list(x),
    'display': lambda x: list(x),            
    'mailer': lambda x: list(x),               
    'display_description': lambda x: list(x),     
    'mailer_description': lambda x: list(x)                    
}).reset_index()

causal_per_prod_id.sort_values(by= 'product_id')

,product_id,store_id,week_no,display,mailer,display_description,mailer_description
0,26190,"[286, 288, 289, 292, 293, 295, 296, 297, 298, ...","[70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 70, 7...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 5, 0, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[Not On Display, Not On Display, Not On Displa...","[Interior page feature, Interior page feature,..."
1,26355,"[286, 286, 286, 286, 286, 286, 286, 286, 286, ...","[35, 37, 38, 41, 42, 43, 85, 87, 88, 89, 90, 9...","[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 5, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Rear End Cap, Rear End Cap, Rear End Cap, Rea...","[Not an Ad, Not an Ad, Not an Ad, Not an Ad, N..."
2,26426,"[286, 286, 286, 286, 286, 288, 288, 288, 288, ...","[30, 31, 35, 51, 55, 30, 31, 32, 51, 55, 30, 3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[A, A, A, A, A, A, A, A, A, A, A, A, A, A, A, ...","[Not On Display, Not On Display, Not On Displa...","[Interior page feature, Interior page feature,..."
3,26540,"[289, 313, 315, 316, 316, 316, 316, 316, 316, ...","[54, 56, 25, 52, 53, 54, 55, 56, 57, 59, 61, 6...","[3, 5, 4, 6, 6, 6, 6, 9, 9, 6, 6, 6, 6, 6, 6, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[Front End Cap, Rear End Cap, Mid-Aisle End Ca...","[Not an Ad, Not an Ad, Not an Ad, Not an Ad, N..."
4,26601,"[286, 286, 286, 288, 288, 288, 288, 288, 288, ...","[43, 71, 78, 13, 43, 61, 63, 78, 95, 97, 13, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[A, A, A, H, A, A, A, A, D, A, H, A, A, A, A, ...","[Not On Display, Not On Display, Not On Displa...","[Interior page feature, Interior page feature,..."
...,...,...,...,...,...,...,...
68372,18203132,[356],[101],[1],[0],[Store Front],[Not an Ad]
68373,18203921,"[341, 341, 424, 439, 439]","[100, 101, 101, 100, 101]","[1, 1, 1, 1, 1]","[0, 0, 0, 0, 0]","[Store Front, Store Front, Store Front, Store ...","[Not an Ad, Not an Ad, Not an Ad, Not an Ad, N..."
68374,18243471,[415],[101],[3],[0],[Front End Cap],[Not an Ad]
68375,18243476,[415],[101],[3],[0],[Front End Cap],[Not an Ad]
68376,18244453,[345],[101],[7],[0],[In-Aisle],[Not an Ad]

## Export

In [56]:
hh.to_csv('C:/Users/aprataso/Downloads/final_data/treated/hh_treated.csv', index=False)
basket.to_csv('C:/Users/aprataso/Downloads/final_data/treated/basket_treated.csv', index=False)
campaigns_per_household.to_csv('C:/Users/aprataso/Downloads/final_data/treated/campaigns_treated.csv', index=False)
coupons_per_household.to_csv('C:/Users/aprataso/Downloads/final_data/treated/coupon_treated.csv', index=False)
prod.to_csv('C:/Users/aprataso/Downloads/final_data/treated/prod_treated.csv', index=False)
causal_per_prod_id.to_csv('C:/Users/aprataso/Downloads/final_data/treated/causal_treated.csv', index=False)

In [ ]:
#basket.to_csv('C:/Users/aprataso/Downloads/final_data/treated/basket_treated.csv', index=False)