In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
hh = pd.read_csv("C:/Users/aprataso/Downloads/final_data/hh_demographic_enriched.csv")
transaction = pd.read_csv("C:/Users/aprataso/Downloads/final_data/transaction_data_enriched.csv")
campaign = pd.read_csv("C:/Users/aprataso/Downloads/final_data/campaign_enriched.csv")
prod = pd.read_csv("C:/Users/aprataso/Downloads/final_data/product_enriched.csv")
coupon = pd.read_csv("C:/Users/aprataso/Downloads/final_data/coupon_enriched.csv")

In [3]:
list_ =[hh, transaction, campaign, prod, coupon]

for i, df in enumerate(list_):
    print(df.describe())
    print(f'\n')

       household_key  adult_category_size
count     801.000000           728.000000
mean     1235.176030             1.607143
std       736.804647             0.488721
min         1.000000             1.000000
25%       596.000000             1.000000
50%      1218.000000             2.000000
75%      1914.000000             2.000000
max      2499.000000             2.000000


       household_key     basket_id           day    product_id      quantity  \
count   2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06
mean    1.271953e+03  3.402620e+10  3.887562e+02  2.891435e+06  1.004286e+02
std     7.260660e+02  4.711649e+09  1.897210e+02  3.837404e+06  1.153436e+03
min     1.000000e+00  2.698485e+10  1.000000e+00  2.567100e+04  0.000000e+00
25%     6.560000e+02  3.040805e+10  2.290000e+02  9.174590e+05  1.000000e+00
50%     1.272000e+03  3.276081e+10  3.900000e+02  1.028816e+06  1.000000e+00
75%     1.913000e+03  4.012685e+10  5.530000e+02  1.133018e+06  1.000000e+00
max     2.500000e+03  4.230536e+10  7.110000e+02  1.831630e+07  8.963800e+04

        sales_value      store_id   retail_disc    trans_time       week_no  \
count  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06  2.595732e+06
mean   3.104120e+00  3.142673e+03 -5.387054e-01  1.561586e+03  5.622150e+01
std    4.182274e+00  8.937113e+03  1.249191e+00  3.998378e+02  2.710223e+01
min    0.000000e+00  1.000000e+00 -1.800000e+02  0.000000e+00  1.000000e+00
25%    1.290000e+00  3.300000e+02 -6.900000e-01  1.308000e+03  3.300000e+01
50%    2.000000e+00  3.720000e+02 -1.000000e-02  1.613000e+03  5.600000e+01
75%    3.490000e+00  4.220000e+02  0.000000e+00  1.843000e+03  8.000000e+01
max    8.400000e+02  3.428000e+04  3.990000e+00  2.359000e+03  1.020000e+02

        coupon_disc  coupon_match_disc  sales_value_eu  loyalty_card_price  \
count  2.595732e+06       2.595732e+06    2.595732e+06        2.581266e+06
mean  -1.641600e-02      -2.918564e-03    3.321852e+00        2.842648e+00
std    2.168410e-01       3.969004e-02    4.474974e+00        3.017948e+00
min   -5.593000e+01      -7.700000e+00    0.000000e+00       -4.700000e-01
25%    0.000000e+00       0.000000e+00    1.380000e+00        1.290000e+00
50%    0.000000e+00       0.000000e+00    2.140000e+00        2.190000e+00
75%    0.000000e+00       0.000000e+00    3.730000e+00        3.490000e+00
max    0.000000e+00       0.000000e+00    8.988000e+02        5.499900e+02

       non_loyalty_card_price         days_
count            2.581266e+06  2.595732e+06
mean             2.439429e+00  3.887562e+02
std              2.720569e+00  1.897210e+02
min              0.000000e+00  1.000000e+00
25%              1.000000e+00  2.290000e+02
50%              1.940000e+00  3.900000e+02
75%              2.990000e+00  5.530000e+02
max              4.999900e+02  7.110000e+02


          campaign    start_day      end_day  household_key  campaign_duration
count  7208.000000  7208.000000  7208.000000    7208.000000        7208.000000
mean     15.659545   488.397752   533.898724    1268.696726          45.500971
std       6.949705   113.294910   115.544717     731.936391          11.708238
min       1.000000   224.000000   264.000000       1.000000          32.000000
25%       9.000000   412.000000   460.000000     644.000000          34.000000
50%      14.000000   504.000000   551.000000    1263.000000          47.000000
75%      20.000000   587.000000   642.000000    1924.000000          53.000000
max      30.000000   659.000000   719.000000    2500.000000         161.000000


         product_id  manufacturer  curr_size_of_product_value
count  9.235300e+04   92353.00000                6.107900e+04
mean   5.328353e+06    1739.22833                2.085982e+04
std    5.359937e+06    1818.26957                9.364064e+05
min    2.567100e+04       1.00000                0.000000e+00
25%    9.706280e+05     328.00000                6.000000e+00
50%    1.621091e+06    1094.00000                1.200000e+01
75%    9.704770e+06    2264.00000                1.900000e+01
max    1.831630e+07    6477.00000                8.371871e+07


         coupon_upc    product_id  household_key           day      campaign
count  2.334732e+06  2.334732e+06   2.318441e+06  2.318441e+06  2.318441e+06
mean   1.392684e+10  4.691254e+06   1.347660e+03  5.443067e+02  1.460129e+01
std    1.250159e+10  4.940094e+06   7.504984e+02  7.083763e+01  4.012291e+00
min    1.000009e+10  2.567100e+04   1.000000e+00  2.250000e+02  1.000000e+00
25%    1.000009e+10  9.573450e+05   6.920000e+02  5.090000e+02  1.300000e+01
50%    1.000009e+10  1.423340e+06   1.421000e+03  5.410000e+02  1.300000e+01
75%    1.000009e+10  9.196585e+06   2.007000e+03  6.050000e+02  1.800000e+01
max    5.998660e+10  1.814854e+07   2.500000e+03  7.040000e+02  3.000000e+01

## HH_demographic

In [4]:
hh

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,household_key,marital_status,age_group,adult_category_size,has_kids
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1,married,senior,2.0,unknown
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7,married,middle-aged,2.0,unknown
2,25-34,U,25-34K,Unknown,2 Adults Kids,3,1,8,unknown,adult,2.0,Yes
3,25-34,U,75-99K,Homeowner,2 Adults Kids,4,2,13,unknown,adult,2.0,Yes
4,45-54,B,50-74K,Homeowner,Single Female,1,None/Unknown,16,single,middle-aged,1.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...
796,35-44,U,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,2494,unknown,middle-aged,2.0,unknown
797,45-54,A,75-99K,Homeowner,Unknown,3,1,2496,married,middle-aged,NaN,unknown
798,45-54,U,35-49K,Unknown,Single Male,1,None/Unknown,2497,unknown,middle-aged,1.0,No
799,25-34,U,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,2498,unknown,adult,2.0,unknown
800,25-34,U,Under 15K,Unknown,2 Adults Kids,3,1,2499,unknown,adult,2.0,Yes

In [5]:
hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age_desc             801 non-null    object
 1   marital_status_code  801 non-null    object
 2   income_desc          801 non-null    object
 3   homeowner_desc       801 non-null    object
 4   hh_comp_desc         801 non-null    object
 5   household_size_desc  801 non-null    object
 6   kid_category_desc    801 non-null    object
 7   household_key        801 non-null    int64
 8   marital_status       801 non-null    object
 9   age_group            801 non-null    object
 10  adult_category_size  728 non-null    float64
 11  has_kids             801 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 75.2+ KB

In [6]:
hh['has_kids'] = hh['has_kids'].replace({
    'Yes': True,
    'No': False,
    'unknown': None
})

Age

In [7]:
hh['min_age'] = hh['age_desc'].str[:2]
hh['max_age'] = hh['age_desc'].apply(lambda x: x[-2:] if len(x) > 3 else 65)

hh['min_age'] = hh['min_age'].astype('int')
hh['min_age'].unique()

array([65, 45, 25, 35, 19, 55])

In [8]:
hh['max_age'] = hh['max_age'].astype(int)
hh['max_age'].unique()

array([65, 54, 34, 44, 24, 64])

In [9]:
hh['avg_age'] = (hh['min_age'] + hh['max_age']) / 2

Income

In [10]:
hh['income_'] = hh['income_desc'].str.findall(r'\d+')
hh['income_'] = hh['income_'].apply(lambda x: list(map(int, x)) if x else [])
hh[['income_', 'income_desc']]

      income_ income_desc
0    [35, 49]      35-49K
1    [50, 74]      50-74K
2    [25, 34]      25-34K
3    [75, 99]      75-99K
4    [50, 74]      50-74K
..        ...         ...
796  [50, 74]      50-74K
797  [75, 99]      75-99K
798  [35, 49]      35-49K
799  [50, 74]      50-74K
800      [15]   Under 15K

[801 rows x 2 columns]

In [11]:
hh['avg_income'] = hh['income_'].apply(lambda x: sum(x) / len(x) * 1000 if len(x) > 0 else None)
hh['avg_income'] = hh['avg_income'].astype(int)
hh['avg_income']

0      42000
1      62000
2      29500
3      87000
4      62000
       ...
796    62000
797    87000
798    42000
799    62000
800    15000
Name: avg_income, Length: 801, dtype: int64

Category Sizes

In [12]:
hh['n_kids'] = hh['kid_category_desc'].replace({
    '1': 1,
    '2': 2,
    '3+': 3,
    'None/Unknown': None
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16628\1066555400.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_kids'] = hh['kid_category_desc'].replace({

In [13]:
hh['n_household'] = hh['household_size_desc'].replace({
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5+': 5
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_16628\1114001840.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  hh['n_household'] = hh['household_size_desc'].replace({

In [14]:
hh['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

gender

In [21]:
hh['hh_comp_desc']

0      2 Adults No Kids
1      2 Adults No Kids
2         2 Adults Kids
3         2 Adults Kids
4         Single Female
             ...
796    2 Adults No Kids
797             Unknown
798         Single Male
799    2 Adults No Kids
800       2 Adults Kids
Name: hh_comp_desc, Length: 801, dtype: object

In [18]:
import re 

hh['male'] = hh['hh_comp_desc'].str.contains(r'\bmale\b', flags=re.IGNORECASE).astype(int)
hh['female'] = hh['hh_comp_desc'].str.contains(r'\bfemale\b', flags=re.IGNORECASE).astype(int)

#assuming 2 adults = 1M + 1F
adults = hh['hh_comp_desc'].str.contains(r'\b\d*\s*adults?\b', flags=re.IGNORECASE)

hh.loc[adults & (hh['male'] == 0) & (hh['female'] == 0), ['male', 'female']] = [1, 1]

In [19]:
hh[['hh_comp_desc', 'male', 'female']]

         hh_comp_desc  male  female
0    2 Adults No Kids     1       1
1    2 Adults No Kids     1       1
2       2 Adults Kids     1       1
3       2 Adults Kids     1       1
4       Single Female     0       1
..                ...   ...     ...
796  2 Adults No Kids     1       1
797           Unknown     0       0
798       Single Male     1       0
799  2 Adults No Kids     1       1
800     2 Adults Kids     1       1

[801 rows x 3 columns]

drop unnecessary

In [111]:
#hh = hh.drop(['marital_status', 'min_age', 'max_age', 'income_', 'income_desc', 
#              'age_desc', 'kid_category_desc'], axis = 1) #, 'household_size_desc'

## Transaction

In [112]:
transaction

,household_key,basket_id,day,product_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_card_price,non_loyalty_card_price,days_,transaction_date
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0,1.49,1.99,1.39,1,2021-01-01
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0,0.88,0.82,0.82,1,2021-01-01
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0,1.06,1.29,0.99,1,2021-01-01
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0,1.29,1.21,1.21,1,2021-01-01
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0,1.61,1.89,1.50,1,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,0.99,3228,0.00,1520,102,0.0,0.0,1.06,0.99,0.99,711,2022-12-12
2595728,1598,42305362535,711,114102,1,8.89,3228,0.00,1520,102,0.0,0.0,9.51,8.89,8.89,711,2022-12-12
2595729,1598,42305362535,711,133449,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12
2595730,1598,42305362535,711,6923644,1,4.50,3228,-0.49,1520,102,0.0,0.0,4.82,4.99,4.50,711,2022-12-12
2595731,1598,42305362535,711,14055192,1,6.99,3228,0.00,1520,102,0.0,0.0,7.48,6.99,6.99,711,2022-12-12

In [113]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2595732 entries, 0 to 2595731
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   household_key           int64
 1   basket_id               int64
 2   day                     int64
 3   product_id              int64
 4   quantity                int64
 5   sales_value             float64
 6   store_id                int64
 7   retail_disc             float64
 8   trans_time              int64
 9   week_no                 int64
 10  coupon_disc             float64
 11  coupon_match_disc       float64
 12  sales_value_eu          float64
 13  loyalty_card_price      float64
 14  non_loyalty_card_price  float64
 15  days_                   int64
 16  transaction_date        object
dtypes: float64(7), int64(9), object(1)
memory usage: 336.7+ MB

prices

In [114]:
transaction['loyalty_eu'] = transaction['loyalty_card_price'] * 1.07
transaction['non_loyalty_eu'] = transaction['non_loyalty_card_price'] * 1.07

transaction['loyalty_eu'] = transaction['loyalty_eu'].round(2)
transaction['non_loyalty_eu'] = transaction['non_loyalty_eu'].round(2)

In [115]:
transaction = transaction.drop(['days_', 'loyalty_card_price', 'non_loyalty_card_price', 'sales_value'], axis = 1)

In [185]:
basket = transaction.groupby(['household_key', 'basket_id', 'day']).agg({
    'product_id': lambda x: list(x),
    #'quantity': lambda x: x.tolist(),
    'store_id': 'first',
    'retail_disc': lambda x: list(x),
    'trans_time': 'first',
    'week_no': 'first',
    'coupon_disc': lambda x: list(x),
    'coupon_match_disc': lambda x: list(x),
    'sales_value_eu': lambda x: list(x),
    'loyalty_eu': lambda x: list(x),
    'non_loyalty_eu': lambda x: list(x),
    'transaction_date': 'first'
}).reset_index()

basket.sort_values(by='day')

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_eu,non_loyalty_eu,transaction_date
129549,1172,26985025264,1,"[877180, 878664, 930917, 940796, 981760, 99997...","[1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, ...",396,"[0.0, -0.99, -0.78, 0.0, -0.6, -0.3, -0.89, -0...",946,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[2.45, 2.14, 2.14, 3.84, 0.85, 1.06, 4.75, 2.1...","[2.45, 3.2, 1.49, 3.84, 1.49, 1.38, 5.7, 1.49,...","[2.45, 2.14, 1.07, 3.84, 0.85, 1.06, 4.75, 1.0...",2021-01-01
147794,1351,26985052379,1,[903230],[1],447,[-0.3],1955,1,[0.0],[0.0],[1.06],[1.38],[1.06],2021-01-01
118142,1060,26985040735,1,"[820162, 827656, 829617, 833014, 833598, 84655...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",315,"[0.0, 0.0, -0.5, -0.2, -0.44, 0.0, 0.0, 0.0, 0...",1251,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.92, 4.01, 1.59, 2.99, 2.35, 1.92, 1.58, 4.5...","[1.92, 4.01, 2.13, 3.2, 2.82, 1.92, 1.58, 4.59...","[1.92, 4.01, 1.59, 2.99, 2.35, 1.92, 1.58, 4.5...",2021-01-01
274742,2483,26992197681,1,[3843566],[2],2602,[-0.98],1823,1,[0.0],[0.0],[5.35],[3.2],[2.68],2021-01-01
263586,2375,26984851472,1,"[1004906, 1033142, 1036325, 1082185, 8160430]","[1, 1, 1, 1, 1]",364,"[-0.6, 0.0, -0.3, 0.0, -0.39]",1631,1,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[1.49, 0.88, 1.06, 1.29, 1.61]","[2.13, 0.88, 1.38, 1.29, 2.02]","[1.49, 0.88, 1.06, 1.29, 1.6]",2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77449,715,42289858738,711,"[878234, 903602, 984669, 986394, 1080414, 1128...","[3, 1, 1, 3, 3, 3, 1, 1]",415,"[-0.78, 0.0, -0.5, -0.79, -0.77, 0.0, -1.29, -...",1748,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.07, 6.41, 2.45, 1.07, 1.07, 3.21, 2.68, 6.41]","[0.63, 6.41, 2.99, 0.64, 0.63, 1.07, 4.06, 8.44]","[0.35, 6.41, 2.45, 0.35, 0.35, 1.07, 2.68, 6.41]",2022-12-12
217552,1969,42289681743,711,"[859010, 883404, 1081177, 1096317, 1123842, 80...","[1, 1, 1, 1, 1, 1, 1]",356,"[-0.3, -0.29, 0.0, 0.0, -1.29, -2.41, -2.41]",1431,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2.45, 1.07, 2.33, 1.59, 2.68, 3.08, 3.08]","[2.77, 1.38, 2.33, 1.59, 4.06, 5.66, 5.66]","[2.45, 1.07, 2.33, 1.59, 2.68, 3.08, 3.08]",2022-12-12
90739,840,42289776960,711,"[827802, 840573, 860975, 872183, 874972, 91794...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",400,"[-0.49, -0.39, 0.0, -1.0, -1.68, 0.0, 0.0, 0.0...",1456,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.61, 2.14, 2.13, 3.2, 10.76, 1.7, 4.7, 1.53,...","[2.13, 2.56, 2.13, 4.27, 12.56, 1.7, 4.7, 1.53...","[1.6, 2.14, 2.13, 3.2, 10.76, 1.7, 4.7, 1.53, ...",2022-12-12
220239,1994,42289346034,711,"[854405, 859075, 862308, 883404, 893501, 89871...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]",31782,"[-2.0, -0.53, -0.59, -0.29, -0.09, 0.0, -0.53,...",1329,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[8.55, 1.34, 1.07, 1.07, 1.61, 2.13, 1.34, 1.9...","[10.69, 1.9, 1.7, 1.38, 1.7, 2.13, 1.9, 2.77, ...","[8.55, 1.34, 1.07, 1.07, 1.6, 2.13, 1.34, 1.92...",2022-12-12
220238,1994,42289346015,711,"[923438, 1053690, 1124695, 1134810, 13945093]","[1, 2, 1, 1, 1]",31782,"[-0.49, -0.18, -0.25, -0.25, -0.49]",1325,102,"[0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2.68, 3.21, 2.68, 2.68, 2.68]","[3.2, 1.7, 2.94, 2.94, 3.2]","[2.68, 1.6, 2.68, 2.68, 2.68]",2022-12-12

In [188]:
basket['product_quantity'] = basket.apply(lambda row: dict(zip(row['product_id'], row['quantity'])), axis=1)

In [189]:
basket

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_eu,non_loyalty_eu,transaction_date,product_quantity
0,1,27601281299,51,"[825123, 831447, 840361, 845307, 852014, 85498...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",436,"[0.0, 0.0, -0.3, -0.62, -1.2, -1.3, -0.49, 0.0...",1456,8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[4.27, 3.2, 1.49, 4.63, 4.27, 9.08, 3.2, 1.59,...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...",2021-02-20,"{825123: 1, 831447: 1, 840361: 1, 845307: 1, 8..."
1,1,27774192959,67,"[852662, 856942, 997025, 1030547, 1049998, 105...","[2, 1, 0, 1, 1, 2, 1, 1, 1, 2, 1, 1]",436,"[-0.36, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1....",2002,10,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.45, 3.2, 0.0, 11.76, 2.13, 5.65, 0.98, 3.73...","[1.92, 3.2, nan, 11.76, 2.13, 2.82, 0.98, 3.73...","[1.72, 3.2, nan, 11.76, 2.13, 2.82, 0.98, 3.73...",2021-03-08,"{852662: 2, 856942: 1, 997025: 0, 1030547: 1, ..."
2,1,28024266849,88,"[841266, 865178, 953561, 991024, 995242, 99590...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]",436,"[0.0, -0.2, -0.58, -0.49, -0.89, 0.0, 0.0, -0....",1604,13,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.34, 1.38, 4.02, 2.68, 1.07, 5.02, 1.53, 1.0...","[1.34, 1.59, 4.64, 3.2, 2.02, 5.02, 1.53, 1.59...","[1.34, 1.38, 4.02, 2.68, 1.07, 5.02, 1.53, 1.0...",2021-03-29,"{841266: 1, 865178: 1, 953561: 1, 991024: 1, 9..."
3,1,28106322445,94,"[827656, 831447, 845896, 852662, 856942, 85754...","[1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 5, 2, 1, ...",436,"[0.0, 0.0, -0.58, -0.36, 0.0, 0.0, 0.0, -0.29,...",1937,14,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.5,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.5,...","[3.93, 3.2, 2.14, 3.45, 3.2, 3.52, 4.91, 2.68,...","[3.93, 3.2, 1.38, 1.92, 3.2, 3.52, 4.91, 2.99,...","[3.93, 3.2, 1.07, 1.72, 3.2, 3.52, 4.91, 2.68,...",2021-04-04,"{827656: 1, 831447: 1, 845896: 2, 852662: 2, 8..."
4,1,28235481967,101,"[852662, 856942, 887375, 909472, 922417, 93113...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",436,"[-0.36, 0.0, -0.99, -0.58, 0.0, -0.19, -0.5, -...",1603,15,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.45, 3.2, 2.68, 2.16, 6.41, 1.61, 1.87, 2.68...","[1.92, 3.2, 3.73, 2.78, 6.41, 1.81, 2.41, 4.27...","[1.72, 3.2, 2.68, 2.16, 6.41, 1.6, 1.87, 2.68,...",2021-04-11,"{852662: 2, 856942: 1, 887375: 1, 909472: 1, 9..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276479,2500,42076591137,695,"[825295, 840764]","[1, 1]",447,"[-0.49, -0.49]",1618,100,"[0.0, 0.0]","[0.0, 0.0]","[2.14, 2.14]","[2.66, 2.66]","[2.14, 2.14]",2022-11-26,"{825295: 1, 840764: 1}"
276480,2500,42115225458,698,"[883847, 920200, 962717, 6391068, 8118676, 130...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",327,"[-1.49, -0.79, -0.79, -2.65, 0.0, -2.0, 0.0, -...",1136,100,"[0.0, 0.0, 0.0, 0.0, -2.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.58, 2.68, 2.68, 3.57, 31.02, 2.13, 2.99, 2....","[3.18, 3.52, 3.52, 6.41, 31.02, 4.27, 2.99, 5....","[1.58, 2.68, 2.68, 3.57, 31.02, 2.13, 2.99, 2....",2022-11-29,"{883847: 1, 920200: 1, 962717: 1, 6391068: 1, ..."
276481,2500,42198526427,704,"[823721, 828278, 834382, 838319, 859427, 86434...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, ...",447,"[0.0, 0.0, -1.59, -0.09, -0.49, 0.0, -1.33, 0....",1531,101,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.4, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.4, 0.0, 0.0,...","[3.2, 1.49, 2.14, 1.61, 2.68, 4.48, 1.35, 3.83...","[3.2, 1.49, 3.84, 1.7, 3.2, 4.48, 2.34, 1.92, ...","[3.2, 1.49, 2.14, 1.6, 2.68, 4.48, 1.78, 1.92,...",2022-12-05,"{823721: 1, 828278: 1, 834382: 1, 838319: 1, 8..."
276482,2500,42229520973,706,"[874116, 1036403, 1130581, 6534196, 9880241, 1...","[1, 1, 1, 1, 1, 1]",447,"[0.0, 0.0, -0.42, 0.0, 0.0, 0.0]",1527,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.07, 1.07, 3.08, 3.73, 2.56, 3.41]","[1.07, 1.07, 3.53, 3.73, 2.56, 3.41]","[1.07, 1.07, 3.08, 3.73, 2.56, 3.41]",2022-12-07,"{874116: 1, 1036403: 1, 1130581: 1, 6534196: 1..."
276483,2500,42250641157,708,"[825180, 860776, 882305, 903325, 915715, 93391...","[1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, ...",447,"[0.0, 0.0, 0.0, -0.49, 0.0, 0.0, -0.64, -1.31,...",1620,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.92, 1.06, 3.21, 1.61, 3.41, 2.56, 3.57, 0.9...","[1.92, 1.06, 1.6, 2.13, 3.41, 2.56, 2.13, 2.34...","[1.92, 1.06, 1.6, 1.6, 3.41, 2.56, 1.79, 0.94,...",2022-12-09,"{825180: 1, 860776: 1, 882305: 2, 903325: 1, 9..."

In [117]:
basket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276484 entries, 0 to 276483
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   household_key      276484 non-null  int64
 1   basket_id          276484 non-null  int64
 2   day                276484 non-null  int64
 3   product_id         276484 non-null  object
 4   quantity           276484 non-null  object
 5   store_id           276484 non-null  int64
 6   retail_disc        276484 non-null  object
 7   trans_time         276484 non-null  int64
 8   week_no            276484 non-null  int64
 9   coupon_disc        276484 non-null  object
 10  coupon_match_disc  276484 non-null  object
 11  sales_value_eu     276484 non-null  object
 12  loyalty_eu         276484 non-null  object
 13  non_loyalty_eu     276484 non-null  object
 14  transaction_date   276484 non-null  object
dtypes: int64(6), object(9)
memory usage: 31.6+ MB

total quantity

In [118]:
basket['total_quantity'] = basket['quantity'].apply(sum)

In [119]:
basket['distinct_prod'] = basket['product_id'].apply(lambda x: len(set(x)))
basket

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_eu,non_loyalty_eu,transaction_date,total_quantity,distinct_prod
0,1,27601281299,51,"[825123, 831447, 840361, 845307, 852014, 85498...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",436,"[0.0, 0.0, -0.3, -0.62, -1.2, -1.3, -0.49, 0.0...",1456,8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[4.27, 3.2, 1.49, 4.63, 4.27, 9.08, 3.2, 1.59,...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...",2021-02-20,34,30
1,1,27774192959,67,"[852662, 856942, 997025, 1030547, 1049998, 105...","[2, 1, 0, 1, 1, 2, 1, 1, 1, 2, 1, 1]",436,"[-0.36, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1....",2002,10,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.45, 3.2, 0.0, 11.76, 2.13, 5.65, 0.98, 3.73...","[1.92, 3.2, nan, 11.76, 2.13, 2.82, 0.98, 3.73...","[1.72, 3.2, nan, 11.76, 2.13, 2.82, 0.98, 3.73...",2021-03-08,14,12
2,1,28024266849,88,"[841266, 865178, 953561, 991024, 995242, 99590...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]",436,"[0.0, -0.2, -0.58, -0.49, -0.89, 0.0, 0.0, -0....",1604,13,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.34, 1.38, 4.02, 2.68, 1.07, 5.02, 1.53, 1.0...","[1.34, 1.59, 4.64, 3.2, 2.02, 5.02, 1.53, 1.59...","[1.34, 1.38, 4.02, 2.68, 1.07, 5.02, 1.53, 1.0...",2021-03-29,13,12
3,1,28106322445,94,"[827656, 831447, 845896, 852662, 856942, 85754...","[1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 5, 2, 1, ...",436,"[0.0, 0.0, -0.58, -0.36, 0.0, 0.0, 0.0, -0.29,...",1937,14,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.5,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.5,...","[3.93, 3.2, 2.14, 3.45, 3.2, 3.52, 4.91, 2.68,...","[3.93, 3.2, 1.38, 1.92, 3.2, 3.52, 4.91, 2.99,...","[3.93, 3.2, 1.07, 1.72, 3.2, 3.52, 4.91, 2.68,...",2021-04-04,32,23
4,1,28235481967,101,"[852662, 856942, 887375, 909472, 922417, 93113...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",436,"[-0.36, 0.0, -0.99, -0.58, 0.0, -0.19, -0.5, -...",1603,15,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.45, 3.2, 2.68, 2.16, 6.41, 1.61, 1.87, 2.68...","[1.92, 3.2, 3.73, 2.78, 6.41, 1.81, 2.41, 4.27...","[1.72, 3.2, 2.68, 2.16, 6.41, 1.6, 1.87, 2.68,...",2021-04-11,20,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276479,2500,42076591137,695,"[825295, 840764]","[1, 1]",447,"[-0.49, -0.49]",1618,100,"[0.0, 0.0]","[0.0, 0.0]","[2.14, 2.14]","[2.66, 2.66]","[2.14, 2.14]",2022-11-26,2,2
276480,2500,42115225458,698,"[883847, 920200, 962717, 6391068, 8118676, 130...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",327,"[-1.49, -0.79, -0.79, -2.65, 0.0, -2.0, 0.0, -...",1136,100,"[0.0, 0.0, 0.0, 0.0, -2.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.58, 2.68, 2.68, 3.57, 31.02, 2.13, 2.99, 2....","[3.18, 3.52, 3.52, 6.41, 31.02, 4.27, 2.99, 5....","[1.58, 2.68, 2.68, 3.57, 31.02, 2.13, 2.99, 2....",2022-11-29,12,12
276481,2500,42198526427,704,"[823721, 828278, 834382, 838319, 859427, 86434...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, ...",447,"[0.0, 0.0, -1.59, -0.09, -0.49, 0.0, -1.33, 0....",1531,101,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.4, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.4, 0.0, 0.0,...","[3.2, 1.49, 2.14, 1.61, 2.68, 4.48, 1.35, 3.83...","[3.2, 1.49, 3.84, 1.7, 3.2, 4.48, 2.34, 1.92, ...","[3.2, 1.49, 2.14, 1.6, 2.68, 4.48, 1.78, 1.92,...",2022-12-05,31,27
276482,2500,42229520973,706,"[874116, 1036403, 1130581, 6534196, 9880241, 1...","[1, 1, 1, 1, 1, 1]",447,"[0.0, 0.0, -0.42, 0.0, 0.0, 0.0]",1527,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.07, 1.07, 3.08, 3.73, 2.56, 3.41]","[1.07, 1.07, 3.53, 3.73, 2.56, 3.41]","[1.07, 1.07, 3.08, 3.73, 2.56, 3.41]",2022-12-07,6,6
276483,2500,42250641157,708,"[825180, 860776, 882305, 903325, 915715, 93391...","[1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, ...",447,"[0.0, 0.0, 0.0, -0.49, 0.0, 0.0, -0.64, -1.31,...",1620,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.92, 1.06, 3.21, 1.61, 3.41, 2.56, 3.57, 0.9...","[1.92, 1.06, 1.6, 2.13, 3.41, 2.56, 2.13, 2.34...","[1.92, 1.06, 1.6, 1.6, 3.41, 2.56, 1.79, 0.94,...",2022-12-09,25,21

## Campaign

In [120]:
campaign

,campaign,start_day,end_day,description,household_key,campaign_duration,start_date,end_date
0,26,224,264,TypeA,17,40,2021-08-12,2021-09-21
1,26,224,264,TypeA,27,40,2021-08-12,2021-09-21
2,26,224,264,TypeA,212,40,2021-08-12,2021-09-21
3,26,224,264,TypeA,208,40,2021-08-12,2021-09-21
4,26,224,264,TypeA,192,40,2021-08-12,2021-09-21
...,...,...,...,...,...,...,...,...
7203,15,547,708,TypeC,1803,161,2022-07-01,2022-12-09
7204,15,547,708,TypeC,1082,161,2022-07-01,2022-12-09
7205,15,547,708,TypeC,942,161,2022-07-01,2022-12-09
7206,15,547,708,TypeC,855,161,2022-07-01,2022-12-09
7207,15,547,708,TypeC,334,161,2022-07-01,2022-12-09

In [121]:
campaigns_per_household = campaign.groupby('household_key').agg({
    'campaign': lambda x: list(x),
    'description': lambda x: list(x),
    'start_day': lambda x: list(x),            
    'end_day': lambda x: list(x),               
    'campaign_duration': lambda x: list(x),     
    'start_date': lambda x: list(x),            
    'end_date': lambda x: list(x)               
}).reset_index()

campaigns_per_household.sort_values(by= 'household_key')

,household_key,campaign,description,start_day,end_day,campaign_duration,start_date,end_date
0,1,"[8, 13, 18, 29, 12, 22, 23, 20]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeB, Typ...","[412, 504, 587, 281, 477, 624, 646, 615]","[460, 551, 642, 334, 509, 656, 684, 685]","[48, 47, 55, 53, 32, 32, 38, 70]","[2022-02-16, 2022-05-19, 2022-08-10, 2021-10-0...","[2022-04-05, 2022-07-05, 2022-10-04, 2021-11-3..."
1,2,[18],[TypeA],[587],[642],[55],[2022-08-10],[2022-10-04]
2,3,"[8, 13, 14]","[TypeA, TypeA, TypeC]","[412, 504, 531]","[460, 551, 596]","[48, 47, 65]","[2022-02-16, 2022-05-19, 2022-06-15]","[2022-04-05, 2022-07-05, 2022-08-19]"
3,4,[8],[TypeA],[412],[460],[48],[2022-02-16],[2022-04-05]
4,6,"[8, 13, 18, 7]","[TypeA, TypeA, TypeA, TypeB]","[412, 504, 587, 398]","[460, 551, 642, 432]","[48, 47, 55, 34]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-02-02]","[2022-04-05, 2022-07-05, 2022-10-04, 2022-03-08]"
...,...,...,...,...,...,...,...,...
1579,2496,"[8, 13, 18, 17, 14]","[TypeA, TypeA, TypeA, TypeB, TypeC]","[412, 504, 587, 575, 531]","[460, 551, 642, 607, 596]","[48, 47, 55, 32, 65]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-07-2...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-08-3..."
1580,2497,"[8, 13, 18]","[TypeA, TypeA, TypeA]","[412, 504, 587]","[460, 551, 642]","[48, 47, 55]","[2022-02-16, 2022-05-19, 2022-08-10]","[2022-04-05, 2022-07-05, 2022-10-04]"
1581,2498,"[8, 13, 18, 16, 17, 6]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeC]","[412, 504, 587, 561, 575, 393]","[460, 551, 642, 593, 607, 425]","[48, 47, 55, 32, 32, 32]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-07-1...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-08-1..."
1582,2499,"[8, 18]","[TypeA, TypeA]","[412, 587]","[460, 642]","[48, 55]","[2022-02-16, 2022-08-10]","[2022-04-05, 2022-10-04]"
1583,2500,"[8, 13, 18, 9, 10, 17, 19, 20]","[TypeA, TypeA, TypeA, TypeB, TypeB, TypeB, Typ...","[412, 504, 587, 435, 463, 575, 603, 615]","[460, 551, 642, 467, 495, 607, 635, 685]","[48, 47, 55, 32, 32, 32, 32, 70]","[2022-02-16, 2022-05-19, 2022-08-10, 2022-03-1...","[2022-04-05, 2022-07-05, 2022-10-04, 2022-04-1..."

## Coupon

In [122]:
coupon

,coupon_upc,product_id,household_key,day,campaign,trans_date,is_coupon_redeemed
0,10000089061,27160,NaN,NaN,NaN,NaN,False
1,10000089064,27754,1773.0,439.0,9.0,2022-03-15,True
2,10000089064,27754,321.0,446.0,9.0,2022-03-22,True
3,10000089073,28897,2462.0,481.0,12.0,2022-04-26,True
4,10000089073,28897,2451.0,479.0,12.0,2022-04-24,True
...,...,...,...,...,...,...,...
2334727,10000085477,13213390,490.0,607.0,18.0,2022-08-30,True
2334728,10000085477,13213390,367.0,596.0,18.0,2022-08-19,True
2334729,10000085477,13213390,305.0,608.0,18.0,2022-08-31,True
2334730,10000085477,13213390,164.0,597.0,18.0,2022-08-20,True
2334731,10000085477,13213390,104.0,614.0,18.0,2022-09-06,True

In [123]:
coupon.isna().sum()

coupon_upc                0
product_id                0
household_key         16291
day                   16291
campaign              16291
trans_date            16291
is_coupon_redeemed        0
dtype: int64

In [124]:
coupon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2334732 entries, 0 to 2334731
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   coupon_upc          int64
 1   product_id          int64
 2   household_key       float64
 3   day                 float64
 4   campaign            float64
 5   trans_date          object
 6   is_coupon_redeemed  bool
dtypes: bool(1), float64(3), int64(2), object(1)
memory usage: 109.1+ MB

In [125]:
#coupon['household_key'] = coupon['household_key'].astype(int)
#coupon['day'] = coupon['day'].astype(int)
#coupon['campaign'] = coupon['campaign'].astype(int)

In [126]:
coupon[coupon['is_coupon_redeemed'] == False]

,coupon_upc,product_id,household_key,day,campaign,trans_date,is_coupon_redeemed
0,10000089061,27160,NaN,NaN,NaN,NaN,False
40,52100020075,28929,NaN,NaN,NaN,NaN,False
66,52100020075,29096,NaN,NaN,NaN,NaN,False
123,51111090125,29479,NaN,NaN,NaN,NaN,False
127,10000089061,29977,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...
2332390,52770031050,1956367,NaN,NaN,NaN,NaN,False
2332391,52770031050,870101,NaN,NaN,NaN,NaN,False
2332392,52770031050,110028,NaN,NaN,NaN,NaN,False
2332393,52770031050,1111344,NaN,NaN,NaN,NaN,False
2332394,52770031050,1949053,NaN,NaN,NaN,NaN,False

In [127]:
coupons_per_household = coupon.groupby('household_key').agg({
    'coupon_upc': lambda x: list(x),
    'product_id': lambda x: list(x),
    'day': lambda x: list(x),            
    'campaign': lambda x: list(x),               
    'trans_date': lambda x: list(x),     
    'is_coupon_redeemed': lambda x: list(x)                    
}).reset_index()

coupons_per_household.sort_values(by= 'household_key')

,household_key,coupon_upc,product_id,day,campaign,trans_date,is_coupon_redeemed
0,1.0,"[51700010076, 51700010076, 51700010076, 517000...","[941769, 910635, 2590252, 955797, 1027330, 639...","[421.0, 421.0, 421.0, 421.0, 421.0, 421.0, 421...","[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, ...","[2022-02-25, 2022-02-25, 2022-02-25, 2022-02-2...","[True, True, True, True, True, True, True, Tru..."
1,8.0,"[53600000078, 53600000078, 53600000078, 536000...","[84925, 933354, 1047106, 701168, 834826, 94195...","[422.0, 422.0, 422.0, 422.0, 422.0, 422.0, 422...","[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, ...","[2022-02-26, 2022-02-26, 2022-02-26, 2022-02-2...","[True, True, True, True, True, True, True, Tru..."
2,13.0,"[51600070033, 51600070033, 51600070033, 518000...","[29340, 30699, 31999, 32272, 32918, 34742, 358...","[512.0, 512.0, 512.0, 651.0, 651.0, 651.0, 512...","[13.0, 13.0, 13.0, 22.0, 22.0, 22.0, 13.0, 22....","[2022-05-27, 2022-05-27, 2022-05-27, 2022-10-1...","[True, True, True, True, True, True, True, Tru..."
3,14.0,"[52740022050, 52740022050, 52740022050, 527400...","[2648872, 76743, 1813286, 927291, 1440232, 613...","[540.0, 540.0, 540.0, 540.0, 540.0, 540.0, 540...","[13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13....","[2022-06-24, 2022-06-24, 2022-06-24, 2022-06-2...","[True, True, True, True, True, True, True, Tru..."
4,18.0,"[10000085429, 10000085429, 10000085429, 100000...","[1085765, 12673308, 316011, 1049788, 1164410, ...","[515.0, 515.0, 515.0, 515.0, 515.0, 515.0, 515...","[13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13.0, 13....","[2022-05-30, 2022-05-30, 2022-05-30, 2022-05-3...","[True, True, True, True, True, True, True, Tru..."
...,...,...,...,...,...,...,...
429,2488.0,"[54800110055, 54800110055, 54800110055, 548001...","[75637, 75637, 75637, 75637, 75637, 75637, 756...","[565.0, 565.0, 565.0, 565.0, 565.0, 565.0, 565...","[14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14....","[2022-07-19, 2022-07-19, 2022-07-19, 2022-07-1...","[True, True, True, True, True, True, True, Tru..."
430,2489.0,"[52100000076, 52100026076, 52100000076, 521000...","[28929, 28929, 29096, 29096, 29340, 30699, 319...","[357.0, 357.0, 357.0, 357.0, 505.0, 505.0, 505...","[30.0, 30.0, 30.0, 30.0, 13.0, 13.0, 13.0, 30....","[2021-12-23, 2021-12-23, 2021-12-23, 2021-12-2...","[True, True, True, True, True, True, True, Tru..."
431,2494.0,"[54133500050, 54133500050, 54133500050, 541335...","[771115, 831300, 1045472, 5567421, 5669445, 93...","[635.0, 635.0, 635.0, 635.0, 635.0, 635.0, 635...","[18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18....","[2022-09-27, 2022-09-27, 2022-09-27, 2022-09-2...","[True, True, True, True, True, True, True, Tru..."
432,2496.0,"[52100023024, 57045970076, 57045970076, 570459...","[79289, 106388, 106388, 106388, 153687, 159721...","[592.0, 424.0, 424.0, 424.0, 592.0, 592.0, 592...","[18.0, 8.0, 8.0, 8.0, 18.0, 18.0, 18.0, 8.0, 8...","[2022-08-15, 2022-02-28, 2022-02-28, 2022-02-2...","[True, True, True, True, True, True, True, Tru..."
433,2500.0,"[53663200076, 53663200076, 53663200076, 536632...","[48203, 52673, 867138, 970160, 1047076, 109594...","[449.0, 449.0, 449.0, 449.0, 449.0, 449.0, 449...","[8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, ...","[2022-03-25, 2022-03-25, 2022-03-25, 2022-03-2...","[True, True, True, True, True, True, True, Tru..."

## Product

In [128]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92353 entries, 0 to 92352
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  92353 non-null  int64
 1   manufacturer                92353 non-null  int64
 2   department                  92353 non-null  object
 3   brand                       92353 non-null  object
 4   commodity_desc              92353 non-null  object
 5   sub_commodity_desc          92353 non-null  object
 6   curr_size_of_product        92353 non-null  object
 7   curr_size_of_product_value  61079 non-null  float64
 8   curr_size_of_product_units  92353 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 6.3+ MB

In [129]:
#prod['brand'].unique()
prod['brand_bin'] = prod['brand'].replace({
    'National': True,
    'Private': False
})

C:\Users\aprataso\AppData\Local\Temp\ipykernel_29760\3423060936.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  prod['brand_bin'] = prod['brand'].replace({

In [130]:
prod[prod['commodity_desc'] == ' ']

,product_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units,brand_bin
52189,5126087,1,,National,,,,NaN,,True
52190,5126088,1,,National,,,,NaN,,True
52191,5126106,1,,National,,,,NaN,,True
52192,5126107,1,,National,,,,NaN,,True
55048,5977100,1,,National,,,,NaN,,True
55054,5978648,1,,National,,,,NaN,,True
55055,5978649,1,,National,,,,NaN,,True
55056,5978650,1,,National,,,,NaN,,True
55057,5978656,1,,National,,,,NaN,,True
55058,5978657,1,,National,,,,NaN,,True
55059,5978659,1,,National,,,,NaN,,True
55277,5993051,1,,National,,,,NaN,,True
55278,5993054,1,,National,,,,NaN,,True
55279,5993055,1,,National,,,,NaN,,True
58244,6693056,1,,National,,,,NaN,,True

drop products w/o commodity & sub_commodity

In [131]:
prod = prod[prod['commodity_desc'] != ' '].reset_index(drop=True)

## Export

In [132]:
hh.to_csv('C:/Users/aprataso/Downloads/final_data/treated/hh_treated.csv', index=False)
basket.to_csv('C:/Users/aprataso/Downloads/final_data/treated/basket_treated.csv', index=False)
campaigns_per_household.to_csv('C:/Users/aprataso/Downloads/final_data/treated/campaigns_treated.csv', index=False)
coupons_per_household.to_csv('C:/Users/aprataso/Downloads/final_data/treated/coupon_treated.csv', index=False)
prod.to_csv('C:/Users/aprataso/Downloads/final_data/treated/prod_treated.csv', index=False)

In [15]:
hh.to_csv('C:/Users/aprataso/Downloads/final_data/treated/hh_treated.csv', index=False)

## new df

In [133]:
transaction

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,transaction_date,loyalty_eu,non_loyalty_eu
0,2375,26984851472,1,1004906,1,364,-0.60,1631,1,0.0,0.0,1.49,2021-01-01,2.13,1.49
1,2375,26984851472,1,1033142,1,364,0.00,1631,1,0.0,0.0,0.88,2021-01-01,0.88,0.88
2,2375,26984851472,1,1036325,1,364,-0.30,1631,1,0.0,0.0,1.06,2021-01-01,1.38,1.06
3,2375,26984851472,1,1082185,1,364,0.00,1631,1,0.0,0.0,1.29,2021-01-01,1.29,1.29
4,2375,26984851472,1,8160430,1,364,-0.39,1631,1,0.0,0.0,1.61,2021-01-01,2.02,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,3228,0.00,1520,102,0.0,0.0,1.06,2022-12-12,1.06,1.06
2595728,1598,42305362535,711,114102,1,3228,0.00,1520,102,0.0,0.0,9.51,2022-12-12,9.51,9.51
2595729,1598,42305362535,711,133449,1,3228,0.00,1520,102,0.0,0.0,7.48,2022-12-12,7.48,7.48
2595730,1598,42305362535,711,6923644,1,3228,-0.49,1520,102,0.0,0.0,4.82,2022-12-12,5.34,4.82
2595731,1598,42305362535,711,14055192,1,3228,0.00,1520,102,0.0,0.0,7.48,2022-12-12,7.48,7.48

In [134]:
prod

,product_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units,brand_bin
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB,22.0,LB,True
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,,NaN,,True
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,,NaN,,False
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ,50.0,OZ,False
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ,14.0,OZ,False
...,...,...,...,...,...,...,...,...,...,...
92333,18293142,6384,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,,NaN,,True
92334,18293439,6393,DRUG GM,National,BOOKSTORE,CHILDRENS LOW END,,NaN,,True
92335,18293696,6406,DRUG GM,National,BOOKSTORE,PAPERBACK BEST SELLER,,NaN,,True
92336,18294080,6442,DRUG GM,National,BOOKSTORE,PAPERBACK BOOKS,,NaN,,True
92337,18316298,764,GROCERY,National,PAPER TOWELS,PAPER TOWELS & HOLDERS,,NaN,,True

In [135]:
trans_prod = pd.merge(transaction, prod, on='product_id', how='left')
trans_prod

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,transaction_date,loyalty_eu,non_loyalty_eu,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units,brand_bin
0,2375,26984851472,1,1004906,1,364,-0.60,1631,1,0.0,0.0,1.49,2021-01-01,2.13,1.49,69.0,PRODUCE,Private,POTATOES,POTATOES RUSSET (BULK&BAG),5 LB,5.0,LB,False
1,2375,26984851472,1,1033142,1,364,0.00,1631,1,0.0,0.0,0.88,2021-01-01,0.88,0.88,2.0,PRODUCE,National,ONIONS,ONIONS SWEET (BULK&BAG),40 LB,40.0,LB,True
2,2375,26984851472,1,1036325,1,364,-0.30,1631,1,0.0,0.0,1.06,2021-01-01,1.38,1.06,69.0,PRODUCE,Private,VEGETABLES - ALL OTHERS,CELERY,,NaN,,False
3,2375,26984851472,1,1082185,1,364,0.00,1631,1,0.0,0.0,1.29,2021-01-01,1.29,1.29,2.0,PRODUCE,National,TROPICAL FRUIT,BANANAS,40 LB,40.0,LB,True
4,2375,26984851472,1,8160430,1,364,-0.39,1631,1,0.0,0.0,1.61,2021-01-01,2.02,1.60,69.0,PRODUCE,Private,ORGANICS FRUIT & VEGETABLES,ORGANIC CARROTS,1 LB,1.0,LB,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2595727,1598,42305362535,711,92130,1,3228,0.00,1520,102,0.0,0.0,1.06,2022-12-12,1.06,1.06,560.0,GROCERY,National,MARGARINES,MARGARINE: TUBS AND BOWLS,16 OZ,16.0,OZ,True
2595728,1598,42305362535,711,114102,1,3228,0.00,1520,102,0.0,0.0,9.51,2022-12-12,9.51,9.51,2398.0,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ,True
2595729,1598,42305362535,711,133449,1,3228,0.00,1520,102,0.0,0.0,7.48,2022-12-12,7.48,7.48,2468.0,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,12 OZ,12.0,OZ,True
2595730,1598,42305362535,711,6923644,1,3228,-0.49,1520,102,0.0,0.0,4.82,2022-12-12,5.34,4.82,2390.0,GROCERY,National,BEERS/ALES,BEERALEMALT LIQUORS,4PK/10 OZ,4.0,PK/ OZ,True
2595731,1598,42305362535,711,14055192,1,3228,0.00,1520,102,0.0,0.0,7.48,2022-12-12,7.48,7.48,2536.0,GROCERY,National,MISC WINE,BEERALEMALT LIQUORS,6PK/11.2OZ,6.0,PK/.OZ,True

In [139]:
trans_prod = trans_prod.groupby(['household_key', 'basket_id', 'day']).agg({
    'product_id': lambda x: list(x),
    'quantity': lambda x: list(x),
    'store_id': 'first',
    'retail_disc': lambda x: list(x),
    'trans_time': 'first',
    'week_no': 'first',
    'coupon_disc': lambda x: list(x),
    'coupon_match_disc': lambda x: list(x),
    'sales_value_eu': lambda x: list(x),
    'loyalty_eu': lambda x: list(x),
    'non_loyalty_eu': lambda x: list(x),
    'transaction_date': lambda x: list(x),
    'manufacturer': lambda x: list(x),
    'department': lambda x: list(x),
    'brand': lambda x: list(x),
    'commodity_desc': lambda x: list(x),
    'sub_commodity_desc': lambda x: list(x),
    'curr_size_of_product': lambda x: list(x),
    'curr_size_of_product_value': lambda x: list(x),
    'curr_size_of_product_units': lambda x: list(x)
}).reset_index()

In [160]:
trans_prod

,household_key,basket_id,day,product_id,quantity,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,sales_value_eu,loyalty_eu,non_loyalty_eu,transaction_date,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,curr_size_of_product_value,curr_size_of_product_units
0,1,27601281299,51,"[825123, 831447, 840361, 845307, 852014, 85498...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",436,"[0.0, 0.0, -0.3, -0.62, -1.2, -1.3, -0.49, 0.0...",1456,8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[4.27, 3.2, 1.49, 4.63, 4.27, 9.08, 3.2, 1.59,...","[4.27, 3.2, 1.17, 3.97, 2.99, 7.69, 2.68, 1.59...","[2021-02-20, 2021-02-20, 2021-02-20, 2021-02-2...","[1179.0, 317.0, 69.0, 4084.0, 69.0, 1011.0, 15...","[GROCERY, GROCERY, GROCERY, DELI, GROCERY, GRO...","[National, National, Private, National, Privat...","[SALD DRSNG/SNDWCH SPRD, CHEESE, EGGS, DELI ME...","[SEMI-SOLID SALAD DRESSING MAY, SHREDDED CHEES...","[30 OZ, 8 OZ, 1 DZ, , 56 OZ, , 16 OZ, 15 OZ,...","[30.0, 8.0, 1.0, nan, 56.0, nan, 16.0, 15.0, 2...","[ OZ, OZ, DZ, , OZ, , OZ, OZ, OZ, OZ,..."
1,1,27774192959,67,"[852662, 856942, 997025, 1030547, 1049998, 105...","[2, 1, 0, 1, 1, 2, 1, 1, 1, 2, 1, 1]",436,"[-0.36, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1....",2002,10,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.45, 3.2, 0.0, 11.76, 2.13, 5.65, 0.98, 3.73...","[1.92, 3.2, nan, 11.76, 2.13, 2.82, 0.98, 3.73...","[1.72, 3.2, nan, 11.76, 2.13, 2.82, 0.98, 3.73...","[2021-03-08, 2021-03-08, 2021-03-08, 2021-03-0...","[2172.0, 159.0, 111.0, 4926.0, 348.0, 111.0, 2...","[DRUG GM, GROCERY, DRUG GM, DRUG GM, DRUG GM, ...","[National, National, National, National, Natio...","[CANDY - PACKAGED, BAKED BREAD/BUNS/ROLLS, CIG...","[CANDY BAGS-CHOCOCLATE, FRUIT/BREAKFAST BREAD,...","[3.5 OZ, 16 OZ, CTN, , , CTN, 40 LB, 6 OZ, 6...","[3.0, 16.0, nan, nan, nan, nan, 40.0, 6.0, 6.0...","[. OZ, OZ, CTN, , , CTN, LB, OZ, CT, OZ..."
2,1,28024266849,88,"[841266, 865178, 953561, 991024, 995242, 99590...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]",436,"[0.0, -0.2, -0.58, -0.49, -0.89, 0.0, 0.0, -0....",1604,13,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.34, 1.38, 4.02, 2.68, 1.07, 5.02, 1.53, 1.0...","[1.34, 1.59, 4.64, 3.2, 2.02, 5.02, 1.53, 1.59...","[1.34, 1.38, 4.02, 2.68, 1.07, 5.02, 1.53, 1.0...","[2021-03-29, 2021-03-29, 2021-03-29, 2021-03-2...","[69.0, 69.0, 4223.0, 1094.0, 69.0, 1225.0, 2.0...","[GROCERY, PRODUCE, DELI, MEAT-PCKGD, GROCERY, ...","[Private, Private, National, National, Private...","[BAKED SWEET GOODS, VEGETABLES - ALL OTHERS, D...","[SWEET GOODS - FULL SIZE, CELERY, MEAT: TURKEY...","[12 OZ, 1 LB, , 20 OZ, , 8 CT, 40 LB, 8 OZ, ...","[12.0, 1.0, nan, 20.0, nan, 8.0, 40.0, 8.0, 8....","[ OZ, LB, , OZ, , CT, LB, OZ, OZ, CT,..."
3,1,28106322445,94,"[827656, 831447, 845896, 852662, 856942, 85754...","[1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 5, 2, 1, ...",436,"[0.0, 0.0, -0.58, -0.36, 0.0, 0.0, 0.0, -0.29,...",1937,14,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.5,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.5,...","[3.93, 3.2, 2.14, 3.45, 3.2, 3.52, 4.91, 2.68,...","[3.93, 3.2, 1.38, 1.92, 3.2, 3.52, 4.91, 2.99,...","[3.93, 3.2, 1.07, 1.72, 3.2, 3.52, 4.91, 2.68,...","[2021-04-04, 2021-04-04, 2021-04-04, 2021-04-0...","[4208.0, 317.0, 1046.0, 2172.0, 159.0, 1790.0,...","[DELI, GROCERY, GROCERY, DRUG GM, GROCERY, GRO...","[National, National, National, National, Natio...","[DELI MEATS, CHEESE, DRY MIX DESSERTS, CANDY -...","[MEAT:HAM BULK, SHREDDED CHEESE, PUDDINGS DRY,...","[ , 8 OZ, 2.1 OZ, 3.5 OZ, 16 OZ, 18.15 OZ, 80 ...","[nan, 8.0, 2.0, 3.0, 16.0, 18.0, 80.0, nan, 24...","[ , OZ, . OZ, . OZ, OZ, . OZ, CT, , OZ, ...."
4,1,28235481967,101,"[852662, 856942, 887375, 909472, 922417, 93113...","[2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",436,"[-0.36, 0.0, -0.99, -0.58, 0.0, -0.19, -0.5, -...",1603,15,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[3.45, 3.2, 2.68, 2.16, 6.41, 1.61, 1.87, 2.68...","[1.92, 3.2, 3.73, 2.78, 6.41, 1.81, 2.41, 4.27...","[1.72, 3.2, 2.68, 2.16, 6.41, 1.6, 1.87, 2.68,...","[2021-04-11, 2021-04-11, 2021-04-11, 2021-04-1...","[2172.0, 159.0, 69.0, 3867.0, 172.0, 709.0, 38...","[DRUG GM, GROCERY, GROCERY, DELI, PASTRY, GROC...","[National, National, Private, National, Nation...","[CANDY - PACKAGED, BAKED BREAD/BUNS/ROLLS, FRZ...","[CANDY BAGS-CHOCOCLATE, FRUIT/BREAKFAST BREAD,...","[3.5 OZ, 16 OZ, 6 CT, , , 16 OZ, , 1LB, , ...","[3.0, 16.0, 6.0, nan, nan, 16.0, nan, 1.0, nan...","[. OZ, OZ, CT, , , OZ, , LB, , . OZ, . ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276479,2500,42076591137,695,"[825295, 840764]","[1, 1]",447,"[-0.49, -0.49]",1618,100,"[0.0, 0.0]","[0.0, 0.0]","[2.14, 2.14]","[2.66, 2.66]","[2.14, 2.14]","[2022-11-26, 2022-11-26]","[165.0, 165.0]","[GROCERY, GROCERY]","[National, National]","[FRZN VEGETABLE/VEG DSH, FRZN VEGETABLE/VEG DSH]","[FRZN BAGGED VEGETABLES - PLAIN, FRZN BOXED VE...","[24 OZ, 24 OZ]","[24.0, 24.0]","[ OZ, OZ]"
276480,2500,42115225458,698,"[883847, 920200, 962717, 6391068, 8118676, 130...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]",327,"[-1.49, -0.79, -0.79, -2.65, 0.0, -2.0, 0.0, -...",1136,100,"[0.0, 0.0, 0.0, 0.0, -2.0, 0.0, 0.0, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.58, 2.68, 2.68, 3.57, 31.02, 2.13, 2.99, 2....","[3.18, 3.52, 3.52, 6.41, 31.02, 4.27, 2.99, 5....","[1.58, 2.68, 2.68, 3.57, 31.02, 2.13, 2.99, 2....","[2022-11-29, 2022-11-29, 2022-11-29, 2022-11-2...","[1559.0, 1377.0, 1377.0, 213.0, 764.0, 1559.0,...","[DRUG GM, GROCERY, GROCERY, DRUG GM, DRUG GM, ...","[National, National, National, National, Natio...","[KITCHEN GADGETS, SHORTENING/OIL, SHORTENING/O...","[GADGETS/TOOLS, COOKING SPRAYS, COOKING SPRAYS...","[ , 5 OZ, 5 OZ, 32 OZ, 126 CT, , 42 CT TUB, ...","[nan, 5.0, 5.0, 32.0, 126.0, nan, 42.0, nan, n...","[ , OZ, OZ, OZ, CT, , CT TUB, , , , ..."
276481,2500,42198526427,704,"[823721, 828278, 834382, 838319, 859427, 86434...","[1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, ...",447,"[0.0, 0.0, -1.59, -0.09, -0.49, 0.0, -1.33, 0....",1531,101,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.4, 0.0, 0.0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -0.4, 0.0, 0.0,...","[3.2, 1.49, 2.14, 1.61, 2.68, 4.48, 1.35, 3.83...","[3.2, 1.49, 3.84, 1.7, 3.2, 4.48, 2.34, 1.92, ...","[3.2, 1.49, 2.14, 1.6, 2.68, 4.48, 1.78, 1.92,...","[2022-12-05, 2022-12-05, 2022-12-05, 2022-12-0...","[317.0, 407.0, 1183.0, 179.0, 1646.0, 1658.0, ...","[GROCERY, GROCERY, GROCERY, GROCERY, PRODUCE, ...","[National, National, National, National, Natio...","[CHEESE, VEGETABLES - SHELF STABLE, BAKED BREA...","[GRATED CHEESE, BEANS GREEN: FS/WHL/CUT, ENGLI...","[8 OZ, 28OZ, 13 OZ, 1 LB, 10 OZ, 20 OZ, 8 OZ, ...","[8.0, 28.0, 13.0, 1.0, 10.0, 20.0, 8.0, 4.0, 1...","[ OZ, OZ, OZ, LB, OZ, OZ, OZ, . OZ, . OZ,..."
276482,2500,42229520973,706,"[874116, 1036403, 1130581, 6534196, 9880241, 1...","[1, 1, 1, 1, 1, 1]",447,"[0.0, 0.0, -0.42, 0.0, 0.0, 0.0]",1527,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[1.07, 1.07, 3.08, 3.73, 2.56, 3.41]","[1.07, 1.07, 3.53, 3.73, 2.56, 3.41]","[1.07, 1.07, 3.08, 3.73, 2.56, 3.41]","[2022-12-07, 2022-12-07, 2022-12-07, 2022-12-0...","[1573.0, 1573.0, 544.0, 757.0, 5291.0, 5079.0]","[DRUG GM, DRUG GM, GROCERY, DRUG GM, DRUG GM, ...","[National, National, National, National, Natio...","[CANDY - PACKAGED, CANDY - PACKAGED, BAG SNACK...","[SEASONAL CANDY BOX NON-CHOCOLA, SEASONAL CAND...","[4.5 OZ, 4.5 OZ, 11.5 OZ, .45 OZ, , 13.5 OZ]","[4.0, 4.0, 11.0, 45.0, nan, 13.0]","[. OZ, . OZ, . OZ, . OZ, , . OZ]"
276483,2500,42250641157,708,"[825180, 860776, 882305, 903325, 915715, 93391...","[1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, ...",447,"[0.0, 0.0, 0.0, -0.49, 0.0, 0.0, -0.64, -1.31,...",1620,102,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.92, 1.06, 3.21, 1.61, 3.41, 2.56, 3.57, 0.9...","[1.92, 1.06, 1.6, 2.13, 3.41, 2.56, 2.13, 2.34...","[1.92, 1.06, 1.6, 1.6, 3.41, 2.56, 1.79, 0.94,...","[2022-12-09, 2022-12-09, 2022-12-09, 2022-12-0...","[649.0, 2.0, 5.0, 2.0, 1251.0, 194.0, 69.0, 19...","[PRODUCE, PRODUCE, MISC SALES TRAN, PRODUCE, G...","[National, National, Private, National, Nation...","[ORGANICS FRUIT & VEGETABLES, VEGETABLES - ALL...","[ORGANIC VEGETABLES ALL OTHERS, CUCUMBERS, MIS...","[2 CT, 36 CT, , , 19.8 OZ, 7.5 OZ, 1 LB, 18....","[2.0, 36.0, nan, nan, 19.0, 7.0, 1.0, 18.0, 18...","[ CT, CT, , , . OZ, . OZ, LB, . OZ, . OZ, ..."

In [175]:
test1 = trans_prod.sample(50)

In [176]:
i = 0

for product_list in test1['department']:
    # Print each product ID in the list
    for product_id in product_list:
        print(product_id)

    print(f'\nnext line\n')

GROCERY
MEAT
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
PASTRY
GROCERY

next line

MEAT-PCKGD
GROCERY
SEAFOOD

next line

GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
DELI
PRODUCE
GROCERY
DELI
PRODUCE
PRODUCE
MEAT
PRODUCE
GROCERY
PRODUCE
SEAFOOD-PCKGD
DELI
PRODUCE
GROCERY
NUTRITION
NUTRITION
MISC. TRANS.
MEAT
GROCERY
GROCERY

next line

GROCERY
GROCERY
PASTRY
DELI

next line

GROCERY
GROCERY
GROCERY

next line

GROCERY

next line

PRODUCE
DRUG GM
NUTRITION
GROCERY
PRODUCE
NUTRITION
GROCERY
NUTRITION
GROCERY
NUTRITION
GROCERY
DRUG GM
GROCERY
GROCERY
GROCERY
NUTRITION
GROCERY
PRODUCE
GROCERY
NUTRITION
NUTRITION
GROCERY
GROCERY
PRODUCE
NUTRITION
PRODUCE
NUTRITION
NUTRITION
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
PRODUCE
GROCERY
NUTRITION
GROCERY
NUTRITION
GROCERY
PRODUCE
NUTRITION
GROCERY
GROCERY
DRUG GM
NUTRITION
GROCERY
NUTRITION
GROCERY
NUTRITION
NUTRITION
PRODUCE
PRODUCE
GROCERY
NUTRITION
NUTRITION
GROCERY
NUTRITION
GROCERY
GROCERY
DRUG GM
PRODUCE
NUTRITION
GROCERY
NUTRITION
PRODUCE
PRODUCE
NUTRITION
NUTRITION
MEAT-PCKGD
GROCERY
NUTRITION
NUTRITION
NUTRITION
PRODUCE
MEAT
GROCERY
GROCERY
DRUG GM
NUTRITION
NUTRITION
GROCERY
GROCERY
GROCERY
NUTRITION
NUTRITION
GROCERY
MEAT-PCKGD
MEAT-PCKGD
MEAT-PCKGD

next line

GROCERY
DRUG GM
PASTRY
GROCERY
GROCERY
PRODUCE
GROCERY
PRODUCE
GROCERY
GROCERY
PRODUCE
DELI
PRODUCE
DELI
GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
PASTRY
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
DRUG GM

next line

DELI
DELI
DELI
GROCERY

next line

DRUG GM
MEAT
GROCERY
PRODUCE
GROCERY
GROCERY
MEAT
GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY

next line

DRUG GM
GROCERY

next line

KIOSK-GAS

next line

GROCERY
GROCERY

next line

NUTRITION
GROCERY
DRUG GM
NUTRITION
GROCERY
GROCERY
DRUG GM
DRUG GM
DRUG GM
DRUG GM

next line

GROCERY

next line

GROCERY
GROCERY
GROCERY
GROCERY
DRUG GM
GROCERY
GROCERY
GROCERY
DRUG GM

next line

DELI
PRODUCE
MEAT-PCKGD
GROCERY
PRODUCE
GROCERY
DELI
PASTRY
PRODUCE
PASTRY
PRODUCE
PRODUCE
MEAT
GROCERY

next line

KIOSK-GAS

next line

GROCERY
GROCERY
MEAT
MEAT-PCKGD
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
DRUG GM
GROCERY
GROCERY

next line

GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY

next line

GROCERY
COSMETICS
GROCERY
GROCERY
GROCERY

next line

SEAFOOD-PCKGD
GROCERY
MEAT
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY

next line

PRODUCE
PRODUCE
GROCERY
GROCERY
GROCERY
PRODUCE
PRODUCE
GROCERY
DRUG GM
GROCERY
FLORAL
PRODUCE
GROCERY
DRUG GM
MEAT
GROCERY
DRUG GM
PRODUCE
GROCERY
GROCERY
DRUG GM
MEAT
GROCERY
GROCERY
GROCERY
SEAFOOD-PCKGD
DRUG GM
DRUG GM
DRUG GM
DRUG GM

next line

GROCERY
GROCERY

next line

DRUG GM
PRODUCE
PRODUCE
nan
GROCERY
GROCERY
GROCERY

next line

GROCERY
GROCERY
GROCERY
DRUG GM
DRUG GM
GROCERY

next line

GROCERY
MEAT
GROCERY

next line

PRODUCE
GROCERY
PRODUCE
GROCERY
GROCERY
PRODUCE
GROCERY
DELI
GROCERY
GROCERY
GROCERY
GROCERY
DELI
MEAT-PCKGD
GROCERY
GROCERY

next line

MEAT-PCKGD
GROCERY

next line

GROCERY
MEAT-PCKGD
GROCERY
GROCERY
PRODUCE
GROCERY
DRUG GM

next line

GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY

next line

GROCERY
GROCERY

next line

GROCERY
GROCERY
GROCERY

next line

GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
DRUG GM
GROCERY
GROCERY

next line

GROCERY

next line

GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
MEAT
GROCERY

next line

KIOSK-GAS

next line

GROCERY
GROCERY
GROCERY
GROCERY
PRODUCE
GROCERY

next line

GROCERY
GROCERY
GROCERY
GROCERY
PRODUCE
DRUG GM
GROCERY
GROCERY
GROCERY

next line

GROCERY
PRODUCE
MEAT

next line

KIOSK-GAS

next line

GROCERY

next line

GROCERY
GROCERY

next line

GROCERY
MISC SALES TRAN
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
PRODUCE
PRODUCE
GROCERY
PRODUCE
GROCERY
MISC. TRANS.

next line

GROCERY

next line

GROCERY
MEAT-PCKGD
GROCERY
GROCERY
DRUG GM
GROCERY
GROCERY
PRODUCE
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY

next line

GROCERY
GROCERY

next line

GROCERY
GROCERY
GROCERY
MEAT-PCKGD
GROCERY

next line

GROCERY
GROCERY
GROCERY

next line

GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
MEAT-PCKGD
GROCERY
GROCERY
GROCERY
MEAT
MEAT
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY
GROCERY

next line

In [178]:
from collections import defaultdict

for product_list in test1['department']:
    # Dictionary to count occurrences of each product ID
    count_dict = defaultdict(int)
    
    # Count occurrences of each product ID in the current department list
    for product_id in product_list:
        count_dict[product_id] += 1
    
    # Print each product ID along with its count
    for product_id, count in count_dict.items():
        if count > 0:
            print(f'{product_id}: {count}')
        else:
            print(product_id)
    
    # Print a newline to separate each department's products
    print(f'\nnext line\n')

GROCERY: 15
MEAT: 1
PASTRY: 1

next line

MEAT-PCKGD: 1
GROCERY: 1
SEAFOOD: 1

next line

GROCERY: 15
DELI: 3
PRODUCE: 6
MEAT: 2
SEAFOOD-PCKGD: 1
NUTRITION: 2
MISC. TRANS.: 1

next line

GROCERY: 2
PASTRY: 1
DELI: 1

next line

GROCERY: 3

next line

GROCERY: 1

next line

PRODUCE: 13
DRUG GM: 5
NUTRITION: 31
GROCERY: 35
MEAT-PCKGD: 4
MEAT: 1

next line

GROCERY: 24
DRUG GM: 2
PASTRY: 2
PRODUCE: 7
DELI: 2

next line

DELI: 3
GROCERY: 1

next line

DRUG GM: 1
MEAT: 2
GROCERY: 17
PRODUCE: 3

next line

DRUG GM: 1
GROCERY: 1

next line

KIOSK-GAS: 1

next line

GROCERY: 2

next line

NUTRITION: 2
GROCERY: 3
DRUG GM: 5

next line

GROCERY: 1

next line

GROCERY: 7
DRUG GM: 2

next line

DELI: 2
PRODUCE: 5
MEAT-PCKGD: 1
GROCERY: 3
PASTRY: 2
MEAT: 1

next line

KIOSK-GAS: 1

next line

GROCERY: 10
MEAT: 1
MEAT-PCKGD: 1
DRUG GM: 1

next line

GROCERY: 6

next line

GROCERY: 4
COSMETICS: 1

next line

SEAFOOD-PCKGD: 1
GROCERY: 6
MEAT: 1

next line

PRODUCE: 6
GROCERY: 12
DRUG GM: 8
FLORAL: 1
MEAT: 2
SEAFOOD-PCKGD: 1

next line

GROCERY: 2

next line

DRUG GM: 1
PRODUCE: 2
nan: 1
GROCERY: 3

next line

GROCERY: 4
DRUG GM: 2

next line

GROCERY: 2
MEAT: 1

next line

PRODUCE: 3
GROCERY: 10
DELI: 2
MEAT-PCKGD: 1

next line

MEAT-PCKGD: 1
GROCERY: 1

next line

GROCERY: 4
MEAT-PCKGD: 1
PRODUCE: 1
DRUG GM: 1

next line

GROCERY: 6

next line

GROCERY: 2

next line

GROCERY: 3

next line

GROCERY: 15
PRODUCE: 3
DRUG GM: 1

next line

GROCERY: 1

next line

GROCERY: 11
PRODUCE: 1
MEAT: 1

next line

KIOSK-GAS: 1

next line

GROCERY: 5
PRODUCE: 1

next line

GROCERY: 7
PRODUCE: 1
DRUG GM: 1

next line

GROCERY: 1
PRODUCE: 1
MEAT: 1

next line

KIOSK-GAS: 1

next line

GROCERY: 1

next line

GROCERY: 2

next line

GROCERY: 16
MISC SALES TRAN: 1
PRODUCE: 4
MISC. TRANS.: 1

next line

GROCERY: 1

next line

GROCERY: 10
MEAT-PCKGD: 1
DRUG GM: 1
PRODUCE: 1

next line

GROCERY: 2

next line

GROCERY: 4
MEAT-PCKGD: 1

next line

GROCERY: 3

next line

GROCERY: 19
MEAT-PCKGD: 1
MEAT: 2

next line

In [180]:
product_counts = test1.groupby(['department', 'product_id']).size().reset_index(name='count')
product_counts

TypeError: unhashable type: 'list'

In [ ]:
basket_aggregated = basket.merge(department_counts, on='product_id', how='left')
basket_aggregated

KeyError: 'product_id'